{% extends 'template-main.html.twig' %}

{% block title %}Hello OwnerProfileController!{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/favori.js') }}" defer></script>
<script src="{{ asset('js/goBack.js') }}" defer></script>
{% endblock %}

{% block main %}
<section class="owner-detail">
    <div class="owner-detail__container">

        <section class="owner-info-section">
            {% include "components/_detail-host-card.html.twig" with {'instance': user, 'name': user.familyName|capitalize} %}
        </section>

        <section class="owner-properties-section">
            {% include "profile/_owner-properties.html.twig" with {'instance': user} %}
        </section>

        <section class="owner-reviews-section">
            <h1 class="owner-reviews__title">Commentaires pour {{ user.familyName }}</h1>

            <div class="owner-reviews__content">
                {% for review in reviews|slice(0, 3) %}
                    {% include "components/_review-card.html.twig"  %}
                {% endfor %}
            </div>
        </section>
        
    </div>
</section>
{% endblock %}
