@use "../base/variables" as *;
@use "../utils" as *;

.header-alt {
    @extend %fs-sm;
    @extend %fw-semibold;

    position: fixed;
    z-index: 10;
    top: 0; left: 0; right: 0;
    background-color: var(--clr-white);
    height: 12.5rem;
    box-shadow: $box-shadow;

    &__container {
        @extend %container-primary;
        @extend %padding-lg;
        
        display: flex;
        align-items: center;
    }
    &__logo {
        flex: 1;
        img {
            height: 6.5rem;
            aspect-ratio: 1/1;
        }

        .admin-switch {
            bottom: -7rem;
        }
    }
    &__nav {
        flex: auto;
        display: flex;
        justify-content: center;

        > * {
            @extend %padding-inline-sm;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            border-radius: $border-radius;

            &:hover {
                background-color: var(--clr-gray-200);
            }
        }
        .active {
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                height: .1rem;
                width: 3rem;
                background-color: var(--clr-black);
                position: absolute;
                bottom: 0;
            }
        }
    }
    &__options {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-lg);

        a {
            @extend %padding-inline-sm;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            border-radius: $border-radius;


            &:hover {
                background-color: var(--clr-gray-200);
            }
            &.active {
                position: relative;
    
                &::after {
                    content: "";
                    display: inline-block;
                    height: .1rem;
                    width: 3rem;
                    background-color: var(--clr-black);
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .header-alt__option-lang {
            position: relative;


            ul {
                display: none;
                backdrop-filter: blur(20px);
                border: solid 1px $border-color;
                border-radius: $border-radius;
                font-family: $font-family-secondary;
                position: absolute;
                top: 5rem; left: -4.1rem;

                &.show {
                    display: block;
                }
            }
        }
    }
}
