@use "../base/variables" as *;
@use "../utils" as *;

.admin {
    &-inteface {
        background-color: var(--clr-gray-200);
        height: 100vh;

        &__container {
            --padding: 2 * var(--spacing-lg);
            --max-width: 192rem;

            width: min(100% - var(--padding), var(--max-width));
            margin-inline: auto;
        }
    }

    &-header {
        @extend %padding-block-lg;
        @extend %margin-bottom-xxl;
        background-color: var(--clr-gray-200);

        &__container {
            display: flex;
        }

        &__logo-link {
            margin-right: var(--spacing-lg);
            img {
                height: 6rem;
            }
        }

        &__links {
            border-radius: $border-radius;
            border: solid 1px var(--clr-primary);
            height: fit-content;
            padding: 2px;

            a {
                display: inline-flex;
                align-items: center;
                height: 4rem;
                padding-inline: 2.4rem;
                border: none;
                border-radius: $border-radius;
            }
            a.active {
                background-color: var(--clr-white);
                color: var(--clr-primary);
                box-shadow: $box-shadow;
            }
        }

        &__profile {
            display: flex;
            gap: var(--spacing-sm);
            margin-left: auto;

            &-pic {
                height: 4rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--clr-primary);
                color: var(--clr-white);
                // font-size: $font-size-large; // ! à Modifier
            }

            &-info {
                font-family: $font-family-secondary;
            }

            &-name {
                // font-weight: $font-weight-semi-bold;
            }

            &-email {
                // font-size: $font-size-small; // ! à Modifier
            }
        }
    }

    &-aside {
        flex: 0 0 28rem;

        &__title {
            @extend %margin-bottom-lg;
        }
        &__list {
            @extend %padding-lg;
            border-radius: calc(2 * $border-radius);
            background-color: var(--clr-white);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            box-shadow: $box-shadow;
        }
        &__item a {
            @extend %padding-block-xs;
            @extend %padding-inline-sm;
            border-radius: $border-radius;
            display: block;
        }
        &__item a:not(.active):hover {
            border: solid 1px $border-color;
        }
        &__item a.active {
            background-color: var(--clr-gray-300);
        }
    }

    &-dashboard {
        display: flex;
        gap: var(--spacing-lg);
    }
}

.dashboard {
    &-add {
        margin-top: 6.9rem; // ! Vérifier si je peux standardiser 
        flex: auto;

        &__container {
            @extend %margin-bottom-lg;
            @extend %padding-lg;
            border-radius: calc(3 * $border-radius);
            background-color: var(--clr-white);
            box-shadow: $box-shadow;
            font-family: $font-family-secondary;
            display: flex;
            gap: var(--spacing-xs);
            flex-wrap: wrap;
        }

        &__list {
            display: inline-flex;
            flex-wrap: wrap;
            gap: var(--spacing-lg);
        }

        &__item {
            @extend %padding-left-md;
            display: flex;
            align-items: center;
            gap: var(--spacing-xs);
            border-radius: $border-radius;
            background-color: var(--clr-gray-300);
            white-space: nowrap;
            height: 3.2rem;

            form{
                display: inline-flex;
                align-items: center;
            }

            input {
                @extend %padding-left-md;
                background-color: inherit;
                border: none;
                outline: none;
                width: 14.5rem;
            }

            img {
                @extend %margin-right-md;
                height: 2rem;
            }
        }
        
        &-form {
            border: dashed 1px var(--clr-primary);
            border-radius: $border-radius;
            overflow: hidden;
            display: inline-flex;
            background-color: rgba(var(--clr-primary), 0.2); // ! à tester darken($primary, 2%)
            height: 3.2rem;
    
            input {
                @extend %padding-right-xs;
                @extend %padding-left-md;
                background-color: inherit;
                border: none;
                outline: none;
                width: 14.5rem;
            }
    
            img {
                @extend %margin-right-md;
                height: 2rem;
            }
        }
    }

    &-edit-form {
        position: relative;

        h2 {
            @extend %margin-bottom-sm;
        }

        a {
            display: block;
            width: fit-content;
            border-radius: 50%;
            position: absolute;
            top: 0;right: 0;
        }
        a:hover {
            background-color: var(--clr-gray-300);
        }
        input {
            @extend %padding-left-sm;
            border-radius: $border-radius;
            border: solid 1px $border-color;
            height: 4rem;
            width: 74rem;
        }

        button {
            @extend %margin-top-lg;
            @extend %padding-inline-md;
            @extend %margin-left-auto;
            display: block;
            height: 4rem;
            border-radius: $border-radius;
            color: var(--clr-white);
            background-color: var(--clr-black);
        }
    }
}

.modal {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
    z-index: 1000; /* s'assurer qu'il est au-dessus des autres éléments */
    display: flex;
    align-items: center; /* centrage vertical */
    justify-content: center; /* centrage horizontal */
    
    .content {
        @extend %padding-lg;
        background-color: var(--clr-white);
        border-radius: calc(3 * $border-radius);
    }
}