{% extends 'base.html.twig' %}

{% block title %}Hello OwnerReservationsController!{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/btn-lang.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="owner">
    <div class="owner__container">

        <header class="owner__header">
            {% include "layout/header-alt.html.twig" %}
        </header>

        <h1 class="owner__title">{% block heading %}{% endblock heading %}</h1>

        <main class="owner__dashboard">
            <div class="owner__dashboard-container">

                {% block content %}{% endblock content %}
                
            </div>
        </main>

    </div>
</div>
{% endblock %}
