{% extends 'template-main.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/favori.js') }}" defer></script>
{% endblock %}

{% block main %}
<section class="home">
    <div class="home__container">

        <nav class="home__navbar">
            {% include "home/_navbar.html.twig" %}
        </nav>

        <div class="home__listing">
            <div class="home__listing-container">

            {% for space in allSpaces ? allSpaces : [] %}
                {% include "components/_card-space.html.twig" %}
            {% endfor %}

            </div>
        </div>
        
    </div>
</section>
{% endblock main %}

