{% extends 'template-main.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/favori.js') }}" defer></script>
    <script src="{{ asset('js/ajx-nav-home.js') }}" defer></script>
{% endblock %}

{% block main %}
<section class="home">
    <div class="home__container">

        <nav class="home__navbar">
            {% include "home/_navbar.html.twig" %}
        </nav>

        <div class="home__listing">
            <div class="home__listing-container">

                {% include "components/_card-space.html.twig" %}

            </div>
        </div>

        {% include "components/_pagination.html.twig"  %}
        {# {{ dump() }} #}
    </div>
</section>
{% endblock main %}

