{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/masthead.js') }}" defer></script>
<script src="{{ asset('js/favori.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="home">
    <div class="home__container">

        <header class="home__header">
            {% include "layout/header-main.html.twig" %}
        </header>

        <main class="home__content">
            <div class="home__content-container">

                <nav class="home__navbar">
                    {% include "home/_navbar.html.twig" %}
                </nav>

                <div class="home__listing">
                    <div class="home__listing-container">

                    {% for space in allSpaces ? allSpaces : [] %}
                        {% include "components/_card-space.html.twig" %}
                    {% endfor %}

                    </div>
                </div>
                
            </div>
        </main>
    </div>
</div>

{% endblock %}
