@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img,
picture,
svg {
  height: 100%;
  width: auto;
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #1F2021;
  background-color: #FFFFFF;
  line-height: 1.5;
}

.owner-detail > .container, .space-detail > .container, .masthead__container {
  padding-inline: 6rem;
  margin-inline: auto;
}
.owner-detail > .container, .space-detail > .container, .masthead__container {
  max-width: 1920px;
}
.owner-detail section:first-of-type, .owner-detail section:nth-child(2), .space-detail section:first-of-type, .space-detail section:nth-child(2), .space-detail section:nth-child(3), .space-detail section:nth-child(4) {
  margin-top: 10rem;
}

.owner-detail section:first-of-type h3, .owner-detail section:nth-child(2) .box2 h3, .space-detail section:nth-child(4) h3, .owner-detail section:first-of-type h2, .owner-detail section:nth-child(2) h2, .space-detail section:first-of-type h1, .space-detail section:nth-child(2) h2, .space-detail section:nth-child(3) h2, .space-detail section:nth-child(4) h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.owner-detail section:first-of-type h2, .owner-detail section:nth-child(2) h2, .space-detail section:first-of-type h1, .space-detail section:nth-child(2) h2, .space-detail section:nth-child(3) h2, .space-detail section:nth-child(4) h2 {
  font-size: 2.6rem;
  margin-bottom: 6rem;
  position: relative;
}
.owner-detail section:first-of-type h2::before, .owner-detail section:nth-child(2) h2::before, .space-detail section:first-of-type h1::before, .space-detail section:nth-child(2) h2::before, .space-detail section:nth-child(3) h2::before, .space-detail section:nth-child(4) h2::before {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 4rem;
  background-color: #1F2021;
  position: absolute;
  bottom: 0;
}
.owner-detail section:first-of-type h3, .owner-detail section:nth-child(2) .box2 h3, .space-detail section:nth-child(4) h3 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.masthead-logo__sub-section, .masthead-action__button-menu .menu-dropdown--settings form {
  font-weight: 500;
  border-radius: 1rem;
  background-color: #F5F7F8;
  padding: 2.5px;
}
.masthead-logo__sub-section > *, .masthead-action__button-menu .menu-dropdown--settings form > * {
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  display: inline-block;
}
.masthead-logo__sub-section > *.active, .masthead-action__button-menu .menu-dropdown--settings form > *.active {
  background-color: #FFFFFF;
  color: #1DB9BF;
}

.masthead {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 18.4rem;
  transition: height 0.3s ease-in-out;
}
.masthead__container {
  padding-block: 3rem;
  display: flex;
  height: 100%;
}
.masthead__section--logo {
  flex: 1;
  height: 100%;
}
.masthead__section--nav {
  flex: auto;
}
.masthead__section--action {
  flex: 1;
}

.masthead-logo {
  display: flex;
  gap: 1.5rem;
  height: 100%;
}
.masthead-logo__sub-section {
  height: fit-content;
  white-space: nowrap;
}

.masthead-nav {
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
}
.masthead-nav__minimal-search-bar {
  display: flex;
  border: solid 1px #CDD3D8;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-inline: 1.5rem;
}
.masthead-nav__minimal-search-bar button {
  padding-inline: 1.5rem;
  border-right: solid 1px #CDD3D8;
  margin-block: 1rem;
}
.masthead-nav__minimal-search-bar form {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-inline: 1.5rem;
}
.masthead-nav__minimal-search-bar input {
  width: 18rem;
  border: none;
}
.masthead-nav__minimal-search-bar img {
  height: 2rem;
}
.masthead-action {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}
.masthead-action ul {
  display: none;
  backdrop-filter: blur(20px);
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  font-family: "Open Sans", sans-serif;
  position: absolute;
}
.masthead-action ul.show {
  display: block;
}
.masthead-action__button-lang {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.masthead-action__button-lang img {
  height: 2.5rem;
}
.masthead-action__button-lang ul {
  padding: 1.5rem;
  font-weight: 600;
  text-align: center;
  top: 5rem;
  left: -4.25rem;
}
.masthead-action__button-lang li:nth-last-of-type(2) {
  margin-block: 0.8rem;
}
.masthead-action__button-alert {
  border: solid 1px #CDD3D8;
  border-radius: 50%;
  height: 4.73rem;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.masthead-action__button-alert img {
  height: 2.5rem;
}
.masthead-action__button-menu {
  position: relative;
}
.masthead-action__button-menu img {
  height: 4.73rem;
  aspect-ratio: 1/1;
}
.masthead-action__button-menu ul {
  position: absolute;
  top: 5rem;
  left: -11.7rem;
}
.masthead-action__button-menu .menu-dropdown--personal,
.masthead-action__button-menu .menu-dropdown--settings,
.masthead-action__button-menu .menu-dropdown--logout {
  padding: 1.5rem;
}
.masthead-action__button-menu .menu-dropdown--personal a,
.masthead-action__button-menu .menu-dropdown--settings a,
.masthead-action__button-menu .menu-dropdown--logout a {
  display: block;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
}
.masthead-action__button-menu .menu-dropdown--personal a:hover,
.masthead-action__button-menu .menu-dropdown--settings a:hover,
.masthead-action__button-menu .menu-dropdown--logout a:hover {
  background-color: #EFF0F2;
}
.masthead-action__button-menu .menu-dropdown--settings {
  border-bottom: solid 1px #CDD3D8;
  border-top: solid 1px #CDD3D8;
  white-space: nowrap;
}
.admin-inteface {
  background-color: #F5F7F8;
  height: 100vh;
}
.admin-inteface__container {
  --padding: 2 * 3rem;
  --max-width: 192rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}
.admin-header {
  background-color: #F5F7F8;
  padding-block: 3rem;
  margin-bottom: 10rem;
}
.admin-header__container {
  display: flex;
}
.admin-header__logo-link {
  margin-right: 3rem;
}
.admin-header__logo-link img {
  height: 6rem;
}
.admin-header__links {
  border-radius: 1rem;
  border: solid 1px #1DB9BF;
  height: fit-content;
  padding: 2px;
}
.admin-header__links a {
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding-inline: 2.4rem;
  border: none;
  border-radius: 1rem;
}
.admin-header__links a.active {
  background-color: #FFFFFF;
  color: #1DB9BF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.admin-header__profile {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}
.admin-header__profile-pic {
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1DB9BF;
  color: #FFFFFF;
  font-size: 1.8rem;
}
.admin-header__profile-info {
  font-family: "Open Sans", sans-serif;
}
.admin-header__profile-name {
  font-weight: 600;
}
.admin-header__profile-email {
  font-size: 1.2rem;
}
.admin-aside {
  flex: 0 0 28rem;
}
.admin-aside__title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.admin-aside__list {
  border-radius: 2rem;
  background-color: #FFFFFF;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.admin-aside__item a {
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  display: block;
}
.admin-aside__item a:not(.active):hover {
  border: solid 1px #CDD3D8;
}
.admin-aside__item a.active {
  background-color: #EFF0F2;
  font-weight: 600;
}
.admin-dashboard {
  display: flex;
  gap: 3rem;
}

.dashboard-add {
  margin-top: 6.9rem;
  flex: auto;
}
.dashboard-add__container {
  border-radius: 3rem;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.dashboard-add__list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.dashboard-add__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 1rem;
  background-color: #EFF0F2;
  white-space: nowrap;
  height: 3.2rem;
  padding-left: 2.4rem;
}
.dashboard-add__item form {
  display: inline-flex;
  align-items: center;
}
.dashboard-add__item input {
  background-color: inherit;
  border: none;
  outline: none;
  padding-left: 2.4rem;
  width: 14.5rem;
}
.dashboard-add__item img {
  height: 2rem;
  margin-right: 2.4rem;
}
.dashboard-add-form {
  border: dashed 1px #1DB9BF;
  border-radius: 1rem;
  overflow: hidden;
  display: inline-flex;
  background-color: rgba(29, 185, 191, 0.2);
  height: 3.2rem;
}
.dashboard-add-form input {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0 0.8rem 0 2.4rem;
  width: 14.5rem;
}
.dashboard-add-form img {
  height: 2rem;
  margin-right: 2.4rem;
}
.dashboard-edit-form {
  position: relative;
}
.dashboard-edit-form h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.dashboard-edit-form a {
  display: block;
  width: fit-content;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.dashboard-edit-form a:hover {
  background-color: #EFF0F2;
}
.dashboard-edit-form input {
  height: 4rem;
  border-radius: 1rem;
  border: solid 1px #CDD3D8;
  width: 74rem;
  padding-left: 1.5rem;
}
.dashboard-edit-form button {
  display: block;
  margin-left: auto;
  margin-top: 3rem;
  color: #FFFFFF;
  background-color: #1F2021;
  border-radius: 1rem;
  font-size: 1.8rem;
  height: 4rem;
  padding-inline: 2.4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  z-index: 1000; /* s'assurer qu'il est au-dessus des autres éléments */
  display: flex;
  align-items: center; /* centrage vertical */
  justify-content: center; /* centrage horizontal */
}
.modal .content {
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 3rem;
}

.listing-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(226, 228, 230, 0.55) 0px 3px 6px;
  z-index: 100;
}
.listing-header__container {
  --padding: 4rem * 2;
  --max-width: 192rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: min(100% - var(--padding), var(--max-width));
  padding-block: 3rem;
  margin-inline: auto;
}
.listing-header__logo-image {
  height: 6rem;
}
.listing-header__back-link {
  display: inline-flex;
  align-items: center;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  height: 4rem;
  padding-inline: 2.4rem;
  font-weight: 500;
}
.listing-header__back-link:hover {
  background-color: #EFF0F2;
}

.listing-form {
  margin-top: 18rem;
}
.listing-form__container {
  --padding: 4rem * 2;
  --max-width: 192rem;
  display: flex;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
  overflow: hidden;
  transition: all 3s ease;
}
.listing-form__description-list {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  transition: all 3s ease;
  margin-top: 0.2rem;
}
.listing-form__description-item {
  display: flex;
  gap: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  height: 15.3rem;
  margin-inline: auto;
  position: relative;
  z-index: 10;
}
.listing-form__status {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 3s ease;
}
.listing-form__status.active {
  color: #1DB9BF;
}
.listing-form__status.active p {
  border-color: #1DB9BF;
}
.listing-form__status.actived-old {
  color: #FFFFFF;
}
.listing-form__status.actived-old p {
  border-color: #1DB9BF;
  background-color: #1DB9BF;
}
.listing-form__step-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border: solid 1px #1F2021;
  border-radius: 50%;
  height: 4rem;
  aspect-ratio: 1/1;
}
.listing-form__status-label {
  position: absolute;
  bottom: 0;
}
.listing-form__details-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.listing-form__details-text {
  font-size: 1.2rem;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco {
  position: relative;
  border: none 2px #CDD3D8;
  height: 18.7rem;
  width: 5rem;
  position: absolute;
  z-index: 10;
  top: 7.5rem;
  left: -5rem;
  display: flex;
  flex-direction: column;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco span {
  flex: 1;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco span:after, .listing-form__description-item:nth-child(2n+1) .listing-form__deco span:before {
  content: "";
  position: absolute;
  background-color: #1DB9BF;
  transition: all 0.5s;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco span:first-of-type:after {
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco span:first-of-type:before {
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco span:last-of-type:after {
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco.animate span:first-of-type:after {
  animation: loadTopBorder 1s forwards 0s;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco.animate span:first-of-type:before {
  animation: loadRightBorder 1s forwards 1s;
}
.listing-form__description-item:nth-child(2n+1) .listing-form__deco.animate span:last-of-type:after {
  animation: loadBottomBorder 1s forwards 2s;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco {
  position: relative;
  border: none 2px #CDD3D8;
  height: 18.7rem;
  width: 5rem;
  position: absolute;
  z-index: 10;
  top: 7.515rem;
  right: -5rem;
  display: flex;
  flex-direction: column;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco span {
  flex: 1;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco span:after, .listing-form__description-item:nth-child(2n) .listing-form__deco span:before {
  content: "";
  position: absolute;
  background-color: #1DB9BF;
  transition: all 0.5s;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco span:first-of-type:after {
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco span:first-of-type:before {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco span:last-of-type:after {
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco.animate span:first-of-type:after {
  animation: loadTopBorder2 1s forwards 0s;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco.animate span:first-of-type:before {
  animation: loadRightBorder 1s forwards 1s;
}
.listing-form__description-item:nth-child(2n) .listing-form__deco.animate span:last-of-type:after {
  animation: loadBottomBorder2 1s forwards 2s;
}
@keyframes loadTopBorder {
  0%, 100% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}
@keyframes loadRightBorder {
  0%, 100% {
    height: 0;
    top: 0;
    right: 0;
  }
  100% {
    height: 100%;
    top: 0;
    right: 0;
  }
}
@keyframes loadBottomBorder {
  0%, 100% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes loadTopBorder2 {
  0%, 100% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes loadBottomBorder2 {
  0%, 100% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}

.listing-form__form-list {
  flex: 1;
  height: 70rem;
  overflow: hidden;
  transition: all 3s ease;
  display: flex;
  flex-direction: column;
}
.listing-form__form-container {
  transition: all 3s ease;
  position: relative;
}
.listing-form__step {
  position: absolute;
  height: 70rem;
  margin-bottom: 3rem;
  border: solid 1px;
  width: 100%;
  background-color: #FFFFFF;
  top: 70rem;
  transition: all 3s ease;
}
.listing-form__step.show {
  top: 0;
}
.listing-form__step.prev {
  top: -70rem;
}
.listing-form__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.listing-form__title:not(:first-of-type) {
  margin-top: 1.5rem;
}
.listing-form__group {
  display: flex;
  gap: 3rem;
}
.listing-form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.listing-form__label {
  font-size: 1.4rem;
  margin-left: 1.5rem;
  margin-bottom: 0.8rem;
}
.listing-form__input, .listing-form__select {
  height: 4rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
}
.listing-form__checkbox {
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  gap: 5rem;
}
.listing-form__checkbox > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.listing-form__checkbox p {
  display: inline-flex;
  align-items: center;
}
.listing-form__checkbox input {
  margin-right: 1.5rem;
}

.listing-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  z-index: 100;
}
.listing-footer__container {
  --padding: 4rem * 2;
  --max-width: 192rem;
  width: min(100% - var(--padding), var(--max-width));
  padding: 3rem;
  margin-bottom: 3rem;
  margin-inline: auto;
  background-color: #EFF0F2;
  border-radius: 1rem;
}
.listing-footer__next-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 4rem;
  padding-inline: 2.4rem;
  margin-left: auto;
  border-radius: 1rem;
  background-color: #1F2021;
  color: #FFFFFF;
  font-weight: 500;
}
.listing-footer__next-link img {
  height: 2.5rem;
}

.loginpage {
  height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
}
.loginpage__container {
  display: flex;
  width: clamp(495px, 60%, 80rem);
  justify-content: space-between;
  align-items: center;
}

.loginpage__form {
  border: none;
  border-radius: 3rem;
  box-shadow: #dddddd 0px 3px 20px;
  padding: 3rem;
  display: flex;
  flex-flow: column;
}
.loginpage__heading {
  font-size: 1.8rem;
  font-weight: 600;
}
.loginpage__prompt {
  margin-block: 0.5rem;
}
.loginpage__link {
  color: #1DB9BF;
  margin-bottom: 1.5rem;
}
.loginpage__link:last-of-type {
  margin-top: 1.5rem;
}
.loginpage__form-input input {
  height: 4rem;
  width: 35rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding-inline: 2rem;
  margin-bottom: 1.5rem;
}
.loginpage__form-input input:focus {
  outline-color: #1DB9BF;
  caret-color: #1DB9BF;
}
.loginpage__form-submit {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #1DB9BF;
  color: white;
  text-align: center;
  border-radius: 1rem;
  height: 4rem;
}
.loginpage__divider-text {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.loginpage__divider-text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-right: 1rem;
}
.loginpage__divider-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-left: 1rem;
}
.loginpage__social-login p {
  margin-bottom: 1.5rem;
}
.loginpage__social-login a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  width: 45%;
}
.loginpage__social-login a:hover {
  background-color: #EFF0F2;
}
.loginpage__social-login img {
  --ratio: 2.5rem;
  width: var(--ratio);
  height: var(--ratio);
}

.register {
  height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
}
.register__container {
  display: flex;
  width: clamp(495px, 60%, 80rem);
  justify-content: space-between;
  align-items: center;
}

.register__form {
  border: none;
  border-radius: 3rem;
  box-shadow: #dddddd 0px 3px 20px;
  padding-inline: 3rem;
  padding-block-start: 3rem;
  padding-block-end: 6rem;
}
.register__form .register__heading {
  font-size: 1.8rem;
  font-weight: 600;
}
.register__form .register__heading--accent {
  padding-left: 0.5rem;
}
.register__form .register__link {
  color: #1DB9BF;
}
.register__form .register__social-login {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.register__form .register__social-login p {
  margin-bottom: 1.5rem;
}
.register__form .register__social-login a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  width: 45%;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.register__form .register__social-login a:hover {
  background-color: #EFF0F2;
}
.register__form .register__social-login img {
  --ratio: 2.5rem;
  width: var(--ratio);
  height: var(--ratio);
}
.register__form .register__divider-text {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.register__form .register__divider-text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-right: 1rem;
}
.register__form .register__divider-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-left: 1rem;
}
.register__form input,
.register__form label {
  cursor: pointer;
}
.register__form input:focus {
  outline-color: #1DB9BF;
  caret-color: #1DB9BF;
}
.register__form input[type=text],
.register__form input[type=password],
.register__form input[type=date] {
  width: 35rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  height: 4rem;
  padding: 0.9rem 2rem;
  margin-bottom: 1.5rem;
  color: #647688;
}
.register__form input[type=text]::placeholder,
.register__form input[type=password]::placeholder,
.register__form input[type=date]::placeholder {
  color: #647688;
}
.register__form input[type=checkbox] {
  accent-color: #1DB9BF;
}
.register__form-agreement {
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
}
.register__form-submit {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #1DB9BF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  height: 4rem;
}
.register__form-submit button {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.home > .container {
  --padding: 4rem * 2;
  --max-width: 192rem;
  background-color: #FFFFFF;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
  margin-top: 10rem;
}
.home header > .container {
  display: flex;
  justify-content: space-between;
}
.home header > .container > ul {
  display: flex;
  gap: 1.5rem;
}
.home header > .container li,
.home header > .container button {
  display: flex;
  align-items: center;
  gap: 3rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding: 1.5rem;
  white-space: nowrap;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.home header > .container img {
  height: 2.5rem;
}
.home .container > section {
  margin-top: 6rem;
}
.home .container > section > .container {
  display: flex;
  gap: 3rem;
  flex-flow: wrap;
}
.home .card {
  flex: 0 0 36rem;
  overflow: hidden;
  border-radius: 1rem;
}
.home .card .image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #1F2021;
  border-radius: 1rem;
  overflow: hidden;
}
.home .card .image img {
  width: 100%;
  height: 100%; /* Ajout de la hauteur */
  object-fit: cover;
}
.home .card > article {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.home .card > article > section:last-of-type {
  text-align: right;
}
.home .card > article .icones {
  display: inline-flex;
  color: #EFF0F2;
}
.home .card > article .equipped {
  color: #1F2021;
}

.space-detail section:first-of-type .gallery {
  width: 100%;
  height: 50rem;
  margin-bottom: 6rem;
}
.space-detail section:first-of-type .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.space-detail section:first-of-type .zone {
  display: flex;
  gap: 6rem;
}
.space-detail section:first-of-type .box1 {
  flex: 1;
}
.space-detail section:first-of-type .box1 .buttons {
  border-bottom: solid 1px #CDD3D8;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-bottom: 6rem;
  margin-bottom: 6rem;
}
.space-detail section:first-of-type .box1 .buttons button {
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  height: 5rem;
  padding-inline: 1.5rem;
  background-color: #EFF0F2;
}
.space-detail section:first-of-type .box1 .buttons button img {
  height: 2rem;
}
.space-detail section:first-of-type .box1 .buttons button:first-of-type {
  margin-right: 3rem;
}
.space-detail section:first-of-type .box1 .map p {
  margin-bottom: 1.5rem;
}
.space-detail section:first-of-type .box1 .map div {
  height: 30rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #EFF0F2;
  border: solid 1px;
}
.space-detail section:first-of-type .box2 {
  width: 50rem;
  height: 30rem;
  border: solid 1px;
  background-color: #EFF0F2;
}
.space-detail section:nth-child(4) .content {
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  height: 30rem;
  position: relative;
  margin-left: 5rem;
  padding-block: 3rem;
  display: flex;
}
.space-detail section:nth-child(4) .avatar {
  height: 10rem;
  aspect-ratio: 1/1;
  background-color: #EFF0F2;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  left: -5rem;
}
.space-detail section:nth-child(4) .content article:first-of-type {
  padding-inline: 8rem 3rem;
  flex: auto;
}
.space-detail section:nth-child(4) article:last-of-type {
  border-left: solid 1px #CDD3D8;
  padding-inline: 3rem;
  display: flex;
  gap: 3rem;
}
.space-detail section:nth-child(4) article:last-of-type > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.space-detail section:nth-child(4) article:last-of-type > div p {
  flex: 1;
}

.owner-detail section:first-of-type .content {
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  height: 30rem;
  position: relative;
  margin-left: 5rem;
  padding-block: 3rem;
  display: flex;
}
.owner-detail section:first-of-type .avatar {
  height: 10rem;
  aspect-ratio: 1/1;
  background-color: #EFF0F2;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  left: -5rem;
}
.owner-detail section:first-of-type .content article:first-of-type {
  padding-inline: 8rem 3rem;
  flex: auto;
}
.owner-detail section:first-of-type article:last-of-type {
  border-left: solid 1px #CDD3D8;
  padding-inline: 3rem;
  display: flex;
  gap: 3rem;
}
.owner-detail section:first-of-type article:last-of-type > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.owner-detail section:first-of-type article:last-of-type > div p {
  flex: 1;
}
.owner-detail section:nth-child(2) .content {
  display: flex;
  gap: 6rem;
}
.owner-detail section:nth-child(2) .box1 {
  flex: 1;
  display: flex;
  gap: 3rem;
  height: fit-content;
}
.owner-detail section:nth-child(2) .box1 .item > div {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background-color: #EFF0F2;
  margin-bottom: 1.5rem;
}
.owner-detail section:nth-child(2) .box2 {
  border-radius: 1rem;
  flex: 0 0 45rem;
  padding: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.owner-detail section:nth-child(2) .box2 textarea {
  width: 100%;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
}