@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #1F2021;
  background-color: #FFFFFF;
  line-height: 1.5;
}

.header {
  position: relative;
  box-shadow: rgba(226, 228, 230, 0.55) 0px 3px 6px;
}
.header__container {
  --padding: 4rem * 2;
  --max-width: 1440rem;
  display: flex;
  justify-content: space-between;
  padding-block: 3rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}
.header .nav__action {
  font-size: 1.4rem;
  font-weight: 500;
}
.header .nav__action:hover {
  background-color: #EFF0F2;
  border-radius: 3rem;
  padding: 1.5rem 10rem;
}
.header__button {
  position: relative;
  cursor: pointer;
}
.header__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  height: fit-content;
  align-items: center;
}
.header__button__list {
  position: absolute;
  border: solid 1px #CDD3D8;
  top: 4rem;
  right: -5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #444F5A;
  text-transform: capitalize;
  padding-inline: 3rem;
  padding-block: 2.5rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  margin-block-start: 1.5rem;
  display: none;
}
.header__button__list-item:last-of-type {
  margin-block-start: 1rem;
}
.header__button__list-item:hover {
  color: #1DB9BF;
}
.header__button__user:has(> img) {
  --ratio: 5rem;
  --padding: .5rem;
  display: flex;
  align-items: center;
  place-content: center;
  border: solid 1px #CDD3D8;
  box-shadow: rgba(239, 240, 242, 0.55) 0px 3px 10px;
  border-radius: 3rem;
  height: var(--ratio);
  width: var(--ratio);
  padding: var(--padding);
}
.header__button__user:has(> a) {
  padding: 1.1rem 3rem;
  border-radius: 1.1rem 2rem;
  font-weight: 500;
}
.header__button__user:has(> a):hover {
  background-color: #1DB9BF;
  color: #FFFFFF;
}
.header__button .user {
  position: absolute;
  top: 6rem;
  right: 0rem;
  background-color: #FFFFFF;
  border: solid 1px #CDD3D8;
  box-shadow: rgba(239, 240, 242, 0.55) 0px 3px 10px;
  border-radius: 1rem;
  min-width: 36rem;
  font-size: 1.8rem;
  display: none;
}
.header__button .user a {
  display: block;
  text-align: left;
}
.header__button .user__account {
  padding: 3rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.header__button .user__image {
  --ratio: 7rem;
  width: var(--ratio);
  height: var(--ratio);
  background-color: #1DB9BF;
  border-radius: 50%;
}
.header__button .user__details {
  font-size: 1.4rem;
  font-weight: 400;
}
.header__button .user-name {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}
.header__button .user-email {
  padding-block-end: 1rem;
}
.header__button .user__links {
  padding: 3rem;
  border-top: solid 1px #CDD3D8;
  border-bottom: solid 1px #CDD3D8;
}
.header__button .user-link:nth-child(2) {
  margin-block: 1rem;
}
.header__button .user-logout {
  padding: 3rem;
}

.admin-inteface {
  background-color: #F5F7F8;
  height: 100vh;
}
.admin-inteface__container {
  --padding: 2 * 3rem;
  --max-width: 1440rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}
.admin-header {
  background-color: #F5F7F8;
  padding-block: 3rem;
  margin-bottom: 10rem;
}
.admin-header__container {
  display: flex;
}
.admin-header__logo-link {
  margin-right: 3rem;
}
.admin-header__logo-link img {
  height: 6rem;
}
.admin-header__links {
  border-radius: 1rem;
  border: solid 1px #1DB9BF;
  height: fit-content;
  padding: 2px;
}
.admin-header__links a {
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding-inline: 2.4rem;
  border: none;
  border-radius: 1rem;
}
.admin-header__links a.active {
  background-color: #FFFFFF;
  color: #1DB9BF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.admin-header__profile {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}
.admin-header__profile-pic {
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1DB9BF;
  color: #FFFFFF;
  font-size: 1.8rem;
}
.admin-header__profile-info {
  font-family: "Open Sans", sans-serif;
}
.admin-header__profile-name {
  font-weight: 600;
}
.admin-header__profile-email {
  font-size: 1.2rem;
}
.admin-aside {
  flex: 0 0 28rem;
}
.admin-aside__title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.admin-aside__list {
  border-radius: 2rem;
  background-color: #FFFFFF;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.admin-aside__item a {
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  display: block;
}
.admin-aside__item a:not(.active):hover {
  border: solid 1px #CDD3D8;
}
.admin-aside__item a.active {
  background-color: #EFF0F2;
  font-weight: 600;
}
.admin-dashboard {
  display: flex;
  gap: 3rem;
}

.dashboard-add {
  margin-top: 6.9rem;
  flex: auto;
}
.dashboard-add__container {
  border-radius: 3rem;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.dashboard-add__list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.dashboard-add__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 1rem;
  background-color: #EFF0F2;
  white-space: nowrap;
  height: 3.2rem;
  padding-left: 2.4rem;
}
.dashboard-add__item form {
  display: inline-flex;
  align-items: center;
}
.dashboard-add__item input {
  background-color: inherit;
  border: none;
  outline: none;
  padding-left: 2.4rem;
  width: 14.5rem;
}
.dashboard-add__item img {
  height: 2rem;
  margin-right: 2.4rem;
}
.dashboard-add-form {
  border: dashed 1px #1DB9BF;
  border-radius: 1rem;
  overflow: hidden;
  display: inline-flex;
  background-color: rgba(29, 185, 191, 0.2);
  height: 3.2rem;
}
.dashboard-add-form input {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0 0.8rem 0 2.4rem;
  width: 14.5rem;
}
.dashboard-add-form img {
  height: 2rem;
  margin-right: 2.4rem;
}
.dashboard-edit-form {
  position: relative;
}
.dashboard-edit-form h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.dashboard-edit-form a {
  display: block;
  width: fit-content;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.dashboard-edit-form a:hover {
  background-color: #EFF0F2;
}
.dashboard-edit-form input {
  height: 4rem;
  border-radius: 1rem;
  border: solid 1px #CDD3D8;
  width: 74rem;
  padding-left: 1.5rem;
}
.dashboard-edit-form button {
  display: block;
  margin-left: auto;
  margin-top: 3rem;
  color: #FFFFFF;
  background-color: #1F2021;
  border-radius: 1rem;
  font-size: 1.8rem;
  height: 4rem;
  padding-inline: 2.4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  z-index: 1000; /* s'assurer qu'il est au-dessus des autres éléments */
  display: flex;
  align-items: center; /* centrage vertical */
  justify-content: center; /* centrage horizontal */
}
.modal .content {
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 3rem;
}

.listing-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(226, 228, 230, 0.55) 0px 3px 6px;
  z-index: 100;
}
.listing-header__container {
  --padding: 4rem * 2;
  --max-width: 1440rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: min(100% - var(--padding), var(--max-width));
  padding-block: 3rem;
  margin-inline: auto;
}
.listing-header__logo-image {
  height: 6rem;
}
.listing-header__back-link {
  display: inline-flex;
  align-items: center;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  height: 4rem;
  padding-inline: 2.4rem;
  font-weight: 500;
}
.listing-header__back-link:hover {
  background-color: #EFF0F2;
}

.listing-form {
  margin-top: 18rem;
}
.listing-form__container {
  --padding: 4rem * 2;
  --max-width: 1440rem;
  display: flex;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
  overflow: hidden;
}
.listing-form__description-list {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  transition: all 3s ease;
}
.listing-form__description-item {
  display: flex;
  gap: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  height: 15.3rem;
  margin-inline: auto;
  position: relative;
  z-index: 10;
}
.listing-form__status {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 3s ease;
}
.listing-form__status.active {
  color: #1DB9BF;
}
.listing-form__status.active p {
  border-color: #1DB9BF;
}
.listing-form__status.actived-old {
  color: #FFFFFF;
}
.listing-form__status.actived-old p {
  border-color: #1DB9BF;
  background-color: #1DB9BF;
}
.listing-form__step-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border: solid 1px #1F2021;
  border-radius: 50%;
  height: 4rem;
  aspect-ratio: 1/1;
}
.listing-form__status-label {
  position: absolute;
  bottom: 0;
}
.listing-form__details-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.listing-form__details-text {
  font-size: 1.2rem;
}
.listing-form__deco-left {
  position: relative;
  border: none 2px #CDD3D8;
  height: 18.7rem;
  width: 5rem;
  position: absolute;
  z-index: 10;
  top: 7.5rem;
  left: -5rem;
  display: flex;
  flex-direction: column;
}
.listing-form__deco-left span {
  flex: 1;
}
.listing-form__deco-left span:after, .listing-form__deco-left span:before {
  content: "";
  position: absolute;
  background-color: #1DB9BF;
  transition: all 0.5s;
}
.listing-form__deco-left span:first-of-type:after {
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__deco-left span:first-of-type:before {
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
}
.listing-form__deco-left span:last-of-type:after {
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__deco-left.animate span:first-of-type:after {
  animation: loadTopBorder 1s forwards 0s;
}
.listing-form__deco-left.animate span:first-of-type:before {
  animation: loadRightBorder 1s forwards 1s;
}
.listing-form__deco-left.animate span:last-of-type:after {
  animation: loadBottomBorder 1s forwards 2s;
}
.listing-form__deco-right {
  position: relative;
  border: none 2px #CDD3D8;
  height: 18.7rem;
  width: 5rem;
  position: absolute;
  z-index: 10;
  top: 7.515rem;
  right: -5rem;
  display: flex;
  flex-direction: column;
}
.listing-form__deco-right span {
  flex: 1;
}
.listing-form__deco-right span:after, .listing-form__deco-right span:before {
  content: "";
  position: absolute;
  background-color: #1DB9BF;
  transition: all 0.5s;
}
.listing-form__deco-right span:first-of-type:after {
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__deco-right span:first-of-type:before {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
}
.listing-form__deco-right span:last-of-type:after {
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0;
}
.listing-form__deco-right.animate span:first-of-type:after {
  animation: loadTopBorder2 1s forwards 0s;
}
.listing-form__deco-right.animate span:first-of-type:before {
  animation: loadRightBorder 1s forwards 1s;
}
.listing-form__deco-right.animate span:last-of-type:after {
  animation: loadBottomBorder2 1s forwards 2s;
}
@keyframes loadTopBorder {
  0%, 100% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}
@keyframes loadRightBorder {
  0%, 100% {
    height: 0;
    top: 0;
    right: 0;
  }
  100% {
    height: 100%;
    top: 0;
    right: 0;
  }
}
@keyframes loadBottomBorder {
  0%, 100% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes loadTopBorder2 {
  0%, 100% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes loadBottomBorder2 {
  0%, 100% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}

.listing-form__form-list {
  flex: 1;
}
.listing-form__form-list section:nth-child(2) {
  display: none;
}
.listing-form__form-list section:nth-child(3) {
  display: none;
}
.listing-form__form-list section:nth-child(4) {
  display: none;
}
.listing-form__form-list section:nth-child(5) {
  display: none;
}
.listing-form__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.listing-form__title:not(:first-of-type) {
  margin-top: 3rem;
}
.listing-form__item {
  display: flex;
  flex-direction: column;
}
.listing-form__label {
  font-size: 1.4rem;
  margin-left: 1.5rem;
  margin-bottom: 0.8rem;
}
.listing-form__input, .listing-form__select {
  height: 4rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
}
.listing-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  z-index: 100;
}
.listing-footer__container {
  --padding: 4rem * 2;
  --max-width: 1440rem;
  width: min(100% - var(--padding), var(--max-width));
  padding: 3rem;
  margin-bottom: 3rem;
  margin-inline: auto;
  background-color: #EFF0F2;
  border-radius: 1rem;
}
.listing-footer__next-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 4rem;
  padding-inline: 2.4rem;
  margin-left: auto;
  border-radius: 1rem;
  background-color: #1F2021;
  color: #FFFFFF;
  font-weight: 500;
}
.listing-footer__next-link img {
  height: 2.5rem;
}

.loginpage {
  height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
}
.loginpage__container {
  display: flex;
  width: clamp(495px, 60%, 80rem);
  justify-content: space-between;
  align-items: center;
}

.loginpage__form {
  border: none;
  border-radius: 3rem;
  box-shadow: #dddddd 0px 3px 20px;
  padding: 3rem;
  display: flex;
  flex-flow: column;
}
.loginpage__heading {
  font-size: 1.8rem;
  font-weight: 600;
}
.loginpage__prompt {
  margin-block: 0.5rem;
}
.loginpage__link {
  color: #1DB9BF;
  margin-bottom: 1.5rem;
}
.loginpage__link:last-of-type {
  margin-top: 1.5rem;
}
.loginpage__form-input input {
  height: 4rem;
  width: 35rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding-inline: 2rem;
  margin-bottom: 1.5rem;
}
.loginpage__form-input input:focus {
  outline-color: #1DB9BF;
  caret-color: #1DB9BF;
}
.loginpage__form-submit {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #1DB9BF;
  color: white;
  text-align: center;
  border-radius: 1rem;
  height: 4rem;
}
.loginpage__divider-text {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.loginpage__divider-text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-right: 1rem;
}
.loginpage__divider-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-left: 1rem;
}
.loginpage__social-login p {
  margin-bottom: 1.5rem;
}
.loginpage__social-login a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  width: 45%;
}
.loginpage__social-login a:hover {
  background-color: #EFF0F2;
}
.loginpage__social-login img {
  --ratio: 2.5rem;
  width: var(--ratio);
  height: var(--ratio);
}

.register {
  height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
}
.register__container {
  display: flex;
  width: clamp(495px, 60%, 80rem);
  justify-content: space-between;
  align-items: center;
}

.register__form {
  border: none;
  border-radius: 3rem;
  box-shadow: #dddddd 0px 3px 20px;
  padding-inline: 3rem;
  padding-block-start: 3rem;
  padding-block-end: 6rem;
}
.register__form .register__heading {
  font-size: 1.8rem;
  font-weight: 600;
}
.register__form .register__heading--accent {
  padding-left: 0.5rem;
}
.register__form .register__link {
  color: #1DB9BF;
}
.register__form .register__social-login {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.register__form .register__social-login p {
  margin-bottom: 1.5rem;
}
.register__form .register__social-login a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  width: 45%;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.register__form .register__social-login a:hover {
  background-color: #EFF0F2;
}
.register__form .register__social-login img {
  --ratio: 2.5rem;
  width: var(--ratio);
  height: var(--ratio);
}
.register__form .register__divider-text {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.register__form .register__divider-text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-right: 1rem;
}
.register__form .register__divider-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD3D8;
  margin-left: 1rem;
}
.register__form input,
.register__form label {
  cursor: pointer;
}
.register__form input:focus {
  outline-color: #1DB9BF;
  caret-color: #1DB9BF;
}
.register__form input[type=text],
.register__form input[type=password],
.register__form input[type=date] {
  width: 35rem;
  border: solid 1px #CDD3D8;
  border-radius: 1rem;
  height: 4rem;
  padding: 0.9rem 2rem;
  margin-bottom: 1.5rem;
  color: #647688;
}
.register__form input[type=text]::placeholder,
.register__form input[type=password]::placeholder,
.register__form input[type=date]::placeholder {
  color: #647688;
}
.register__form input[type=checkbox] {
  accent-color: #1DB9BF;
}
.register__form-agreement {
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
}
.register__form-submit {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #1DB9BF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  height: 4rem;
}
.register__form-submit button {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}