{# {% extends 'base.html.twig' %}

{% block title %}Hello UserReservationsController!{% endblock %}

{% block body %}
<main class="user-dashboard">
    <div class="container">
        <h1 class="titre">Réservations M1RDCYTUYIYIIYIYYIVYIVIYVIYVI</h1>
        {{ dump(app.user) }}
    </div>
</main>
{% endblock %} #}

<H1>Pour le moment vide</H1>