{% extends 'base.html.twig' %}

{% block title %}Hello UserReservationsController!{% endblock %}

{% block body %}
<main class="user-dashboard">
    <div class="container">
        <h1 class="titre">Réservations</h1>
        {{ dump(app.user) }}
    </div>
</main>
{% endblock %}
