<h2 class="listing__template-step__title">{{ ''|trans }}Étape 5 - Informations sur le propriétaire</h2>

{{ form_row(form.language, {'row_attr': {'class': 'listing__template-step__select'}}) }}

{{ form_row(form.title, {'row_attr': {'class': 'listing__template-step__input'}}) }}

{{ form_row(form.description, {'row_attr': {'class': 'listing__template-step__textarea'}}) }}

