@use "../base/variables" as *;
@use "../utils" as *;

.card-ticket {
    &__inner {
        @extend %padding-lg;
        border-radius: $border-radius;
        background-color: var(--clr-gray-200);
    }
    &__section:first-of-type {
        @extend %padding-bottom-sm;
        display: flex;
        gap: var(--spacing-sm);
        border-bottom: solid 1px $border-color;
    }
    &__section:last-of-type {
        @extend %margin-top-sm;
        display: flex;
        justify-content: flex-end;

        .card-ticket__edit-link {
            @extend %btn-black;
        }
    }
    &__media img {
        height: 11.4rem;
        width: 16rem;
        object-fit: cover;
        border-radius: $border-radius;
    }
    &__info {
        flex: auto;

        .card-ticket__title {
            @extend %title-tertiary;
            text-decoration: underline;
        }
        .card-ticket__address {
            @extend %fw-semibold;
        }
    }
    &__status {
        @extend %fs-lg;
        @extend %fw-semibold;
        color: var(--clr-primary);
    }
    &__reservation-number {
        @extend %margin-top-lg;
        @extend %margin-bottom-xl;
        @extend %margin-left-lg;
    }
}