@use "../base/variables" as *;
@use "../utils" as *;

.card-space {
    flex: 0 1 36rem;
    overflow: hidden;
    border-radius: $border-radius;

    &__image-zone {
        position: relative;
        
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: $border-radius;
        }
        .card-space__icon-btn {
            position: absolute;
            top: 3rem; right: 3rem;
            height: 3rem;
            width: 3rem;
            z-index: 2;
            background: url("/images/icones/favorite-empty.svg") no-repeat center;

            &.active {
                background: url("/images/icones/favorite-filled.svg") no-repeat center;
            }
        }
    }

    &__info {
        &-container {
            display: flex;
            @extend %margin-top-sm;
        }
        &-group {
            flex: 1;

            &:first-of-type {
                p:first-child {
                    @extend %fw-medium;
                }
                p:last-child {
                    @extend %fw-semibold;
                }
            }
            &:last-of-type {
                text-align: right;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            gap: .4rem;
            height: 100%;
        }
        .card-space__icons {
            display: flex;
            gap: var(--spacing-xs);
            justify-content: flex-end;

            img {
                height: 2rem;
                aspect-ratio: 1/1;
                opacity: .4;
            }
            img.equipped {
                opacity: 1;
            }
        }
        .card-space__rating {
            display: flex;
            gap: .4rem;
            margin-top: auto;
            margin-left: auto;
            width: fit-content;
            // border: solid;
            img {
                height: 2rem;
                aspect-ratio: 1/1;
            }
        }
    }
}