@use "../base/variables" as *;
@use "../utils" as *;

.detail-host-card {
    &__title {
        @extend %title-primary;
    }
    &__content {
        @extend %padding-lg;

        display: flex;
        position: relative;
        border: solid 1px $border-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin-left: 5rem;
    }
    &__link {
        height: 10rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 3rem; left: -5rem;
        box-shadow: $box-shadow;
    }

    &__profile {
        @extend %padding-left-lg;

        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        &--title {
            @extend %fs-xl;
            @extend %fw-medium;
        }
        &--desciption {
            text-align: justify;
            padding-right: var(--spacing-lg);
        }
    }
    &__details {
        @extend %padding-left-lg;

        display: flex;
        gap: var(--spacing-xl);
        border-left: solid 1px $border-color;

        &--labels, 
        &--values {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
        }

        p {
            height: 2.65rem;
            min-width: 15rem;
            white-space: nowrap;
        }
    }
}