{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/goBack.js') }}" defer></script>
{% endblock %}

{% block body %}
<section class="admin-interface">
    
    <div class="admin-interface__container">

        <header class="admin-interface__header">
            {% include "admin/_header.html.twig" %}
        </header>
        
        <main class="admin-resa-detail">
            <div class="admin-resa-detail__container">
                
        
                {% include "components/_btn_prev.html.twig" %}

                {% include "components/_card-admin-resa.html.twig" %}

            
            </div>
        </main>
    </div>
</section>
{% endblock %}