{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% set menuItems = ['account', 'address', 'notifications', 'preferences', 'security', 'payments'] %}

{% block body %}
<div class="settings">
    <div class="settings__container">

        <header class="settings__header">
            {% include "layout/header-alt.html.twig" %}
        </header>

        <h1 class="settings__title">Paramètres</h1>

        <nav class="settings__navbar">

            {% for menuItem in menuItems %}

                <a class="button {% if route == 'public_' ~ menuItem %}active{% endif %}" href="{{ path('public_' ~ menuItem, {'id': app.user.id}) }}">{{ menuItem|capitalize }}</a>
            
            {% endfor %}

        </nav>

        <main class="settings__content">
            <div class="settings__content-container">

                {% block content %}{% endblock content %}

            </div>
        </main>

    </div>
</div>
{% endblock %}
