@use "variables" as *;
@use "../utils" as *;

body {
    @extend %fs-md;
    @extend %fw-regular;
    font-family: $font-family-primary;
    color: var(--clr-black);
    background-color: var(--clr-white);
    line-height: 1.5;
}