*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%; //! 1rem = 10px    100% = 16px
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}