// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
@use "colors" as *;

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
// Font Families
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;

// Font Sizes
$font-sizes : (
    xs:     1.2rem, // tiny
    sm:     1.4rem, // small
    md:     1.6rem, // normal
    lg:     1.8rem, // medium
    xl:     2.2rem, // large
    xxl:    2.6rem, // xlarge
);

// Font Weights
$font-weights : (
    light:      300,
    regular:    400,
    medium:     500,
    semibold:   600,
    bold:       700,
);

// -----------------------------------------------------------------------------
// Spacings
// -----------------------------------------------------------------------------
$spacings: (
    xs:     .8rem,   
    sm:     1.5rem,
    md:     2.4rem, 
    lg:     3rem,  
    xl:     6rem,    
    xxl:    10rem,   
    auto:   auto,
);

$spacing-types: (
    default, top, right, bottom, left, inline, block
);
// -----------------------------------------------------------------------------
// CSS Custom Properties
// -----------------------------------------------------------------------------
:root {
    @each $prop, $value in $spacings {
        --spacing-#{$prop}: #{$value};
    }
    @each $prop, $value in $colors {
        --clr-#{$prop}: #{$value};
    }
    @each $prop, $value in $grays {
        --clr-gray-#{$prop}: #{$value};
    }
    @each $prop, $value in $others {
        --clr-other-#{$prop}: #{$value};
    }
}

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$breakpoints : (
    xs:     480px,       
    sm:     768px,       
    md:     1024px,      
    lg:     1280px,      
    xl:     1440px,      
    xxl:    1920px,     
);

// -----------------------------------------------------------------------------
// Titles
// -----------------------------------------------------------------------------
$titles: (
    primary: (
        fs: map-get($font-sizes, xxl), 
        spacing: map-get($spacings, xl), 
        style: true
    ),
    secondary: (
        fs: map-get($font-sizes, xl), 
        spacing: map-get($spacings, sm),
    ),
    tertiary: (
        fs: map-get($font-sizes, lg), 
    ),
);

// -----------------------------------------------------------------------------
// Misc
// -----------------------------------------------------------------------------
$border-radius: 1rem;
$box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;;
$border-color: var(--clr-gray-700);
