{% extends 'admin/admin/index.html.twig' %}

{% block title %}Equipments{% endblock %}

{% block section %}
<section class="dashboard-add">
    <div class="dashboard-add__container">
        <ul class="dashboard-add__list">
            {% for item in list %}
                <li class="dashboard-add__item">
                    <a href="{{path('admin_equipments_edit', {'id': item.id}) }}">{{ item }}</a>
                    {% include "admin/admin/_delete_form.html.twig" with {'item': item} only %}
                </li>
            {% endfor %}
            {% if formNew is defined  %}
                {% include "admin/admin/_new_form.html.twig" with {'form': formNew, 'type': type} only %}
            {% endif %}
        </ul>
    </div>
</section>

{% endblock %}
