<aside class="admin-aside">
    <div class="admin-aside__container">
        {% for link in navbarAdmin() %}
            {% if link.isActive %}
                <h2 class="admin-aside__title">{{ link.name }}</h2>
            {% endif %}
        {% endfor %}

        {% if app.request.attributes.get('_route') == 'app_admin_storages_edit' %}
            <h2 class="admin-aside__title">Storages</h2>
        {% endif %}

        <ul class="admin-aside__list">
        {% for link in navbarAdmin() %}
        
            <li class="admin-aside__item">
                <a href="{{ link.path }}" {% if link.isActive %}class="active"{% endif %}>
                    {{ link.name }}
                </a>
            </li>        
        {% endfor %}
        </ul>
    </div>
</aside>