
{% extends 'base.html.twig' %}

{% block title %}Admin interface{% endblock %}

{% block body %}
    <main class="admin-inteface">
        {% include "admin/admin/_header.html.twig" %}

        <section>

        </section>
    </main>
{% endblock body %}