
{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="{{ asset('js/admin.js') }}" defer></script>
{% endblock %}

{% block title %}Admin interface{% endblock %}

{% set modal = app.flashes('edit') ? true : false %}
{% block body %}
    <main class="admin-inteface">
        <div class="admin-inteface__container">
            
            {% if modal %}
                <div class="modal">
                    <div class="content">
                        {% if formEdit is defined  %}
                            {% include "admin/admin/_edit_form.html.twig" with {'form': formEdit, 'name': itemName} only %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% include "admin/admin/_header.html.twig" %}

            <section class="admin-dashboard">
                {% include "admin/admin/_sidebar.html.twig" %}

                {% block section %}{% endblock section %}
            </section>
        </div>
    </main>
    {{ dump(app.request.attributes.get('_route')) }}
{% endblock body %}