{% extends 'template-alt.html.twig' %}

{% block title %}Hello OwnerReservationsController!{% endblock %}

{% block main %}
<div class="dashboard-host">
    <div class="dashboard-host__container">

        <h1 class="dashboard-host__title">{% block heading %}{% endblock heading %}</h1>

        {% block content %}{% endblock content %}

    </div>
</div>
{% endblock %}
