{% extends "dashboard_host/index.html.twig" %}

{% block heading %}{{ 'Reservations'|trans }}{% endblock heading %}

{% block content %}

<div class="dashboard-host__ticket">
    {% for resa in reservations %}
        <div>
            {% include "dashboard_host/_ticket-card.html.twig" with {'instance': resa} %}
        </div>
    {% endfor %}

    {% for resa in userBookings %}
        <div class="myresa">
            {% include "dashboard_host/_ticket-card.html.twig" with {'instance': resa} %}
        </div>
    {% endfor %}
</div>
    
{% endblock content %}