@use "../base/variables" as *;
@use "../utils" as *;

.dashboard-host {

    &__title {
        @extend %container-secondary; 
        @extend %title-primary;
        
        margin-top: 22rem;
    }

    &__ticket {
        @extend %container-secondary; 
        
        @at-root .ticket-card {
            &__content {
                @extend %padding-lg;
                
                border-radius: $border-radius;
                background-color: var(--clr-gray-200);
            }
            &__section {
                &:first-of-type {
                    @extend %padding-bottom-sm;
        
                    display: flex;
                    gap: var(--spacing-sm);
                    border-bottom: solid 1px $border-color;
                    height: fit-content;
                }
                &:last-of-type {
                    @extend %margin-top-sm;
                    display: flex;
                    justify-content: space-between;
            
                    > div {
                        @extend %btn-black;
        
                        margin-left: auto;
                    }
                    > p {
                        @extend %fw-semibold;
                    }
                }
                
                &--media {
                    display: block;
                    height: 13rem;
                    aspect-ratio: 16/9;
                }
                &--media img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: $border-radius;
                }
                &--info {
                    flex: auto;
            
                    p:first-of-type {
                        @extend %title-tertiary;
                        text-decoration: underline;
                    }
                    p:nth-of-type(2) {
                        @extend %fw-semibold;
                    }
                }
                &--status {
                    @extend %fs-lg;
                    @extend %fw-semibold;
                    color: var(--clr-primary);
                }
            }
            &__ref {
                @extend %margin-top-lg;
                @extend %margin-bottom-xl;
                @extend %margin-left-lg;
            }
        }

        .myresa .ticket-card__content {
            background-color: var(--clr-primary);
        }
    }

    @at-root .master-form {
        .language-section,
        .price-category-section,
        .address-section,
        .equipment-section,
        .galleries-section {
            @extend %margin-bottom-xl;
            @extend %container-secondary; 
            @extend %padding-lg;

            border: solid 1px $border-color;
            border-radius: $border-radius;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .language-section {
            display: flex;
            padding: 0;

            .language-buttons {
                display: flex;
                flex-direction: column;
                background-color: var(--clr-gray-200);
            
                .language-btn {
                    @extend %fw-medium;
                    @extend %padding-lg;
                    
                    text-align: left;

                    &.active {
                        background-color: var(--clr-white);
                    }
                }
                .language-btn-fr {
                    border-top-left-radius: $border-radius;
                }
            }

            .title-description-section {
                @extend %padding-lg;

                flex: auto;
            }
            .title-input-set {
                display: none;

                &.active {
                    display: flex;
                }
            }
            .description-textarea-set {
                display: none;

                &.active {
                    display: flex;
                }
            }
        }
        .equipment-section {
            margin-bottom: 16rem;
        }

        .section-header {
            @extend %title-tertiary;
        }
        .galleries-section {
            > div {
                display: flex;
                gap: var(--spacing-lg);
                flex-wrap: wrap;
                margin-top: var(--spacing-lg);
            }
            img {
                height: 11rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: $border-radius;
            }
        }

        .title-description-inputs,
        .price-category-inputs,
        .address-inputs,
        .equipment-inputs {
            @extend %margin-top-lg;
        }

        .title-input-set,
        .description-textarea-set,
        .category-input-set,
        .price-input-set,
        .address-input-set,
        .status-input-set,
        .space-equipment-input-set {
            @extend %margin-top-lg;

            display: flex;
            flex-direction: column;

            > label {
                @extend %margin-left-sm;
                @extend %margin-bottom-xs;
            }
            > input[type=text],
            > select {
                @extend %padding-left-sm;

                border: solid 1px $border-color;
                border-radius: $border-radius;
                height: 4rem;
            }
            > textarea {
                @extend %padding-sm;

                border: solid 1px $border-color;
                border-radius: $border-radius;
                height: 16rem;
            }
        }

        .status-options {
            @extend %btn-radio-press;
        }
        .equipment-options {
            @extend %btn-checkbox-press;
        }

        .btn-master {
            position: fixed;
            bottom: -11rem;
            left: 0; right: 0; 
            background-color: var(--clr-white);
            box-shadow: rgba(0, 0, 0, 0.15) 0px -3px 3px 0px;
            transition: bottom .3s ease-in;

            &__container {
                @extend %padding-block-lg;
                @extend %container-secondary; 

                display: flex;
                justify-content: flex-end;
            }
            button {
                @extend %btn-black;
            }
        }
    }
}
