@use "../base/variables" as *;
@use "../utils" as *;

.favorite {

    &__title {
        @extend %container-secondary; 
        @extend %title-primary;
        
        margin-top: 22rem;
    }

    &__content {
        &-container {
            @extend %container-secondary; 

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 32rem 32rem 32rem;
            // grid-template-areas: ;
            gap: var(--spacing-lg);
        }

        .card { 
            position: relative;
            border-radius: $border-radius;
            overflow: hidden;
            
            a {
                height: 100%;
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .card-space__icon-btn {
                position: absolute;
                top: 3rem; right: 3rem;
                height: 3rem;
                width: 3rem;
                z-index: 2;
                background: url("/images/icones/favorite-empty.svg") no-repeat center;

                &.active {
                    background: url("/images/icones/favorite-filled.svg") no-repeat center;
                }
            }
        }
    }
}