@use "../base/variables" as *;
@use "../utils" as *;

.home {

    &__content {
        @extend %container-primary;
        
        margin-top: 28rem;
    }

    &__navbar {
        @extend %fw-semibold;
        white-space: nowrap;

        &-container {
            display: flex;
            justify-content: space-between;

            img {
                height: 2.8rem;
            }
        }

        &-category--list {
            display: inline-flex;
            gap: var(--spacing-sm);

            li {
                @extend %btn-white-icone;
                gap: var(--spacing-sm);
            }
        }

        &-filters {
            @extend %btn-white-icone;
            gap: var(--spacing-sm);
        }
    }
}