@use "../base/variables" as *;
@use "../utils" as *;

.listing-header {
    position: fixed;
    top: 0;
    left: 0;right: 0;
    box-shadow: $box-shadow;
    z-index: 100;

    &__container {
        @extend %container-primary;
        @extend %padding-block-lg;
        display: flex;
        justify-content: space-between;
        // background-color: $white; // ! à vérifier 
    }

    &__logo-image {
        height: 6rem;
    }

    &__back-link {
        @extend %padding-inline-md;
        display: inline-flex;
        align-items: center;
        border: solid 1px $border-color;
        border-radius: $border-radius;
        height: 4rem;
        
        &:hover {
            background-color: var(--clr-gray-200);
        }
    }
}

.listing-form {
    margin-top: 18rem;

    &__container {
        @extend %container-primary;
        display: flex;
        overflow: hidden;
        transition: all 3s ease;
    }

    &__description-list {
        flex: 1;
        font-family: $font-family-secondary;
        transition: all 3s ease;
        margin-top: .2rem;
    }
    &__description-item {
        @extend %padding-lg;
        @extend %margin-bottom-lg;
        @extend %margin-inline-auto;
        display: flex;
        gap: var(--spacing-lg);
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 80%;
        height: 15.3rem;
        position: relative;
        z-index: 10;
    }
    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 3s ease;

        &.active {
            color: var(--clr-primary);
        }
        &.active p {
            border-color: var(--clr-primary);
        }
        &.actived-old {
            color: var(--clr-white);
        }
        &.actived-old p {
            border-color: var(--clr-primary);
            background-color: var(--clr-primary);
        }
    }
    &__step-number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--clr-black);
        border-radius: 50%;
        height: 4rem;
        aspect-ratio: 1/1;
    }
    &__status-label {
        position: absolute;
        bottom: 0;
    }
    &__details-title {
        @extend %title-secondary;
    }

    &__description-item:nth-child(2n+1) &__deco {
        position: relative;
        border: none 2px $border-color;
        height: 18.7rem;
        width: 5rem;
        position: absolute;
        z-index: 10;
        top: 7.5rem;left: -5rem;
        display: flex;
        flex-direction: column;
        
        span {
            flex: 1;
        }
    
        span:after, span:before {
            content: "";
            position: absolute;
            background-color: var(--clr-primary);
            transition: all 0.5s;
        }
    
        span:first-of-type:after {
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
        }
    
        span:first-of-type:before {
            top: 0;
            left: 0;
            width: 2px;
            height: 0;
        }

        span:last-of-type:after {
            bottom: 0;
            right: 0;
            height: 2px;
            width: 0;
        }
    
        &.animate {
            span:first-of-type:after {
                animation: loadTopBorder 1s forwards 0s;
            }
            span:first-of-type:before {
                animation: loadRightBorder 1s forwards 1s; // delay of 0.5s to start after top border animation finishes
            }
            span:last-of-type:after {
                animation: loadBottomBorder 1s forwards 2s;
            }
        }
    }

    &__description-item:nth-child(2n) &__deco {
        position: relative;
        border: none 2px $border-color;
        height: 18.7rem;
        width: 5rem;
        position: absolute;
        z-index: 10;
        top: 7.515rem; right: -5rem;
        display: flex;
        flex-direction: column;

        span {
            flex: 1;
        }
    
        span:after, span:before {
            content: "";
            position: absolute;
            background-color: var(--clr-primary);
            transition: all 0.5s;
        }
    
        span:first-of-type:after {
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
        }
    
        span:first-of-type:before {
            top: 0;
            right: 0;
            width: 2px;
            height: 0;
        }

        span:last-of-type:after {
            bottom: 0;
            right: 0;
            height: 2px;
            width: 0;
        }

        &.animate {
            span:first-of-type:after {
                animation: loadTopBorder2 1s forwards 0s;
            }
            span:first-of-type:before {
                animation: loadRightBorder 1s forwards 1s; // delay of 0.5s to start after top border animation finishes
            }
            span:last-of-type:after {
                animation: loadBottomBorder2 1s forwards 2s;
            }
        }
    }
    
    @keyframes loadTopBorder {
        0%, 100% {
            width: 0;
            right: 0;
        }
        100% {
            width: 100%;
            right: 0;
        }
    }
    
    @keyframes loadRightBorder {
        0%, 100% {
            height: 0;
            top: 0;
            right: 0;
        }
        100% {
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    
    @keyframes loadBottomBorder {
        0%, 100% {
            width: 0;
            left: 0;
        }
        100% {
            width: 100%;
            left: 0;
        }
    }
    
    @keyframes loadTopBorder2 {
        0%, 100% {
            width: 0;
            left: 0;
        }
        100% {
            width: 100%;
            left: 0;
        }
    }
    
    @keyframes loadBottomBorder2 {
        0%, 100% {
            width: 0;
            right: 0;
        }
        100% {
            width: 100%;
            right: 0;
        }
    }
}

.listing-form {
    &__form-list {
        flex: 1;
        height: 70rem;
        overflow: hidden;
        transition: all 3s ease;
        display: flex;
        flex-direction: column;
    }
    &__form-container {
        transition: all 3s ease;
        position: relative;
    }
    &__step {
        @extend %margin-bottom-lg;
        position: absolute;
        height: 70rem;
        border: solid 1px;
        width: 100%;
        background-color: var(--clr-white);
        top: 70rem;
        transition: all 3s ease;
    
        &.show {
            top: 0;
        }
        &.prev {
            top: -70rem;
        }
    }
    
    &__title {
        @extend %margin-bottom-sm;
        &:not(:first-of-type) {
            @extend %margin-top-sm;
        }
    }
    &__group {
        display: flex;
        gap: var(--spacing-lg);
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__label {
        @extend %margin-left-sm;
        @extend %margin-bottom-xs;
    }
    &__input,
    &__select {
        @extend %padding-left-lg;
        @extend %margin-bottom-sm;
        height: 4rem;
        border: solid 1px $border-color;
        border-radius: $border-radius;
    }
    &__checkbox {
        @extend %padding-lg;
        border: solid 1px $border-color;
        border-radius: $border-radius;
        display: flex;
        gap: 5rem;

        >div {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
        }
        p {
            display: inline-flex;
            align-items: center;
        }
        input {
            @extend %margin-right-sm;
        }
    }
}

.listing-footer {
    position: fixed;
    left: 0;right: 0;bottom: 0;
    background-color: var(--clr-white);
    z-index: 100;

    &__container {
        @extend %container-primary;
        @extend %padding-lg;
        @extend %margin-bottom-lg;
        background-color: var(--clr-gray-200);
        border-radius: $border-radius;
    }

    &__next-link {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        height: 4rem;
        padding-inline: 2.4rem;
        margin-left: auto;
        border-radius: $border-radius;
        background-color: var(--clr-black);
        color: var(--clr-white);
        
        img {
            height: 2.5rem;
        }
    }
}