@use "../base/variables" as *;
@use "../utils" as *;

.listing {
    @extend %fs-sm;

    &__container {
        height: 100vh;
    }
    &-header {
        background-color: var(--clr-white);
        z-index: 10;
    
        &__container {
            @extend %container-primary;
            @extend %padding-block-sm;

            display: flex;
            justify-content: space-between;
            background-color: var(--clr-white);
        }
    
        &__logo-image {
            height: 4rem;
        }
    
        &__back-link {
            @extend %btn-white;
        }
    }

    &__content {
        margin-top: 3rem;
        margin-bottom: 17rem;

        &-container {
            @extend %container-primary;

            display: flex;
            gap: var(--spacing-xl);
            overflow: hidden;
            height: calc(100vh - 17.5rem);
        }
    }

    &__descriptions {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .card {
            flex: 0 0 18rem;
            display: flex;
            gap: var(--spacing-lg);
            width: 70%;
            border-radius: $border-radius;
            border: none;
            box-shadow: $box-shadow;
            padding: var(--spacing-lg);
            margin-inline: auto;
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
            position: relative; 
            z-index: 1;          

            
            &:not(:nth-child(1)) {
                margin-top: var(--spacing-lg);
            }
            &--step {
                @extend %fw-semibold;
                @extend %fs-lg;
    
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: var(--spacing-sm);
    
                p {
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: solid 1px;
                    height: 5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }
            &--content {
                font-family: $font-family-secondary;
    
                h3 {
                    @extend %title-tertiary;
                    margin-bottom: var(--spacing-sm);
                }
                p {
                    height: 7.2rem;
                }
            }
        }
    }

    &__templates {
        flex: auto;
    }
    &__template {
        &-steps {
            position: relative;
            overflow: hidden;
            height: 86rem;
            width: 100%;
            transition: all 3s ease;
            display: flex;
            flex-direction: column !important;

            .listing__template-step {
                position: absolute;
                top: 86rem;
                width: 100%;
                transition: all 2s ease;

                > button {
                    display: flex;
                    gap: var(--spacing-xs);
                    align-items: center;
                    color: var(--clr-primary);
                }
    
                &.show {
                    top: 0;
                    
                }
                &.noShow {
                    top: -86rem;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        &-step__group {
            display: flex;
            width: 100%;
            gap: var(--spacing-lg);
            
            > div { 
                flex: 1;
            }
        }
        &-step__group-radio {
            width: 100%;

            >label {
                @extend %margin-label;
                
                width: 100%;
                display: block;
            }
            margin-bottom: var(--spacing-lg);
        }
        &-step__title {
            @extend %title-tertiary;

            flex: auto;
            width: 100%;
            margin-bottom: var(--spacing-lg);
        }
        &-step__select {
            @extend %input-select;
            
            width: 100%;
            flex: auto;
            margin-bottom: var(--spacing-sm);
        }
        &-step3 > label {
            @extend %margin-label;
        }
        &-step__checkbox {
            @extend %input-chechbox;

            display: flex;
            flex-direction: column;
            margin-top: var(--spacing-xs);
            margin-left: var(--spacing-sm);
            align-items: flex-start !important;
            gap: var(--spacing-xs) !important;
            
            > div {
                display: flex;
                align-items: center;
                gap: var(--spacing-xs);
                white-space: nowrap;
                
            }
        }
        &-step__input {
            @extend %input-text;

            width: 100%;
            margin-bottom: var(--spacing-sm);
        }
        &-step__radio {
            @extend %input-style-press;

            width: 100%;
        }
        &-step__textarea {
            @extend %input-textarea ;
        }
        &__footer {
            position: fixed;
            left: 0;right: 0;bottom: 0;
            background-color: var(--clr-white);
            z-index: 100;

            &-container {
                @extend %container-primary;
                @extend %padding-sm;
                @extend %margin-bottom-lg;
                background-color: var(--clr-gray-200);
                border-radius: $border-radius;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border: solid 1px $border-color;
                display: flex;
                justify-content: flex-end;
            }
            p {
                @extend %btn-black;
                gap: var(--spacing-sm);
                margin-left: auto;
            }
            img {
                height: 2.5rem;
            }
        }
    }
}






