@use "../base/variables" as *;
@use "../utils" as *;

.listing {
    @extend %fs-sm;

    &__container {
        height: 100vh;
    }
    &-header {
        // position: fixed;
        // top: 0;
        // left: 0;right: 0;
        background-color: var(--clr-white);
        z-index: 10;
    
        &__container {
            @extend %container-primary;
            @extend %padding-block-sm;

            display: flex;
            justify-content: space-between;
            background-color: var(--clr-white);
        }
    
        &__logo-image {
            height: 4rem;
        }
    
        &__back-link {
            @extend %btn-white;
        }
    }

    &__content {
        margin-top: 3rem;
        margin-bottom: 17rem;

        &-container {
            @extend %container-primary;

            display: flex;
            gap: var(--spacing-xl);
            overflow: hidden;
            height: calc(100vh - 17.5rem);
        }
    }

    &__descriptions {
        flex: 1;
    }
    &__description-item {
        padding: var(--spacing-lg);
        border-radius: $border-radius;
        display: flex;
        gap: var(--spacing-lg);
        box-shadow: $box-shadow;

        &:not(:nth-child(1)) {
            margin-top: var(--spacing-lg);
        }
        &--step {
            @extend %fw-semibold;
            @extend %fs-lg;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: var(--spacing-sm);

            p {

                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px;
                height: 5rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            span {
                
            }
        }
        &--content {
            font-family: $font-family-secondary;

            h3 {
                @extend %title-tertiary;
                margin-bottom: var(--spacing-sm);
            }
            p {
                height: 7.2rem;
            }
        }
        &--deco {
            display: none;
        }
    }

    &__templates {
        flex: 1;
    }
    &__template {
        &-steps {
            position: relative;
            overflow: hidden;
            height: 86rem;
            transition: all 3s ease;
            display: flex;
            flex-direction: column;

            .listing__template-step {
                position: absolute;
                top: 86rem;
                width: 100%;
                transition: all 3s ease;
                
                > button {
                    display: flex;
                    gap: var(--spacing-xs);
                    align-items: center;
                    color: var(--clr-primary);
                }
    
                &.show {
                    top: 0;
                }
                &.prev {
                    top: -86rem;
                }
            }
        }
        &-step__group {
            display: flex;
            gap: var(--spacing-lg);

            > div { flex: 1;}
        }
        &-step__group-radio {
            >label {
                @extend %margin-label;
                display: block;
            }
            margin-bottom: var(--spacing-lg);
        }
        &-step__title {
            @extend %title-tertiary;
            margin-bottom: var(--spacing-lg);
        }
        &-step__select {
            @extend %input-select;
            margin-bottom: var(--spacing-sm);
        }
        &-step__checkbox {
            display: flex;
            > div {
                flex: 1;
            }
        }
        &-step__input-checkbox {
            @extend %input-chechbox;
        }
        &-step__input {
            @extend %input-text;
            margin-bottom: var(--spacing-sm);
        }
        &-step__radio {
            @extend %input-style-press;
        }
        &-step__textarea {
            @extend %input-textarea ;
        }
        &__footer {
            position: fixed;
            left: 0;right: 0;bottom: 0;
            background-color: var(--clr-white);
            z-index: 100;

            &-container {
                @extend %container-primary;
                @extend %padding-sm;
                @extend %margin-bottom-lg;
                background-color: var(--clr-gray-200);
                border-radius: $border-radius;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border: solid 1px $border-color;
                display: flex;
                justify-content: flex-end;
            }
            p {
                @extend %btn-black;
                gap: var(--spacing-sm);
                margin-left: auto;
            }
            img {
                height: 2.5rem;
            }
        }
    }
}


.listing-form {
    margin-top: 18rem;

    &__container {
        @extend %container-primary;
        display: flex;
        overflow: hidden;
        transition: all 3s ease;
    }

    &__description-list {
        flex: 1;
        font-family: $font-family-secondary;
        transition: all 3s ease;
        margin-top: .2rem;
    }
    &__description-item {
        @extend %padding-lg;
        @extend %margin-bottom-lg;
        @extend %margin-inline-auto;
        display: flex;
        gap: var(--spacing-lg);
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 80%;
        height: 15.3rem;
        position: relative;
        z-index: 10;
    }
    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 3s ease;

        &.active {
            color: var(--clr-primary);
        }
        &.active p {
            border-color: var(--clr-primary);
        }
        &.actived-old {
            color: var(--clr-white);
        }
        &.actived-old p {
            border-color: var(--clr-primary);
            background-color: var(--clr-primary);
        }
    }
    &__step-number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--clr-black);
        border-radius: 50%;
        height: 4rem;
        aspect-ratio: 1/1;
    }
    &__status-label {
        position: absolute;
        bottom: 0;
    }
    &__details-title {
        @extend %title-secondary;
    }

    &__description-item:nth-child(2n+1) &__deco {
        position: relative;
        border: none 2px $border-color;
        height: 18.7rem;
        width: 5rem;
        position: absolute;
        z-index: 10;
        top: 7.5rem;left: -5rem;
        display: flex;
        flex-direction: column;
        
        span {
            flex: 1;
        }
    
        span:after, span:before {
            content: "";
            position: absolute;
            background-color: var(--clr-primary);
            transition: all 0.5s;
        }
    
        span:first-of-type:after {
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
        }
    
        span:first-of-type:before {
            top: 0;
            left: 0;
            width: 2px;
            height: 0;
        }

        span:last-of-type:after {
            bottom: 0;
            right: 0;
            height: 2px;
            width: 0;
        }
    
        &.animate {
            span:first-of-type:after {
                animation: loadTopBorder 1s forwards 0s;
            }
            span:first-of-type:before {
                animation: loadRightBorder 1s forwards 1s; // delay of 0.5s to start after top border animation finishes
            }
            span:last-of-type:after {
                animation: loadBottomBorder 1s forwards 2s;
            }
        }
    }

    &__description-item:nth-child(2n) &__deco {
        position: relative;
        border: none 2px $border-color;
        height: 18.7rem;
        width: 5rem;
        position: absolute;
        z-index: 10;
        top: 7.515rem; right: -5rem;
        display: flex;
        flex-direction: column;

        span {
            flex: 1;
        }
    
        span:after, span:before {
            content: "";
            position: absolute;
            background-color: var(--clr-primary);
            transition: all 0.5s;
        }
    
        span:first-of-type:after {
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
        }
    
        span:first-of-type:before {
            top: 0;
            right: 0;
            width: 2px;
            height: 0;
        }

        span:last-of-type:after {
            bottom: 0;
            right: 0;
            height: 2px;
            width: 0;
        }

        &.animate {
            span:first-of-type:after {
                animation: loadTopBorder2 1s forwards 0s;
            }
            span:first-of-type:before {
                animation: loadRightBorder 1s forwards 1s; // delay of 0.5s to start after top border animation finishes
            }
            span:last-of-type:after {
                animation: loadBottomBorder2 1s forwards 2s;
            }
        }
    }
    
    @keyframes loadTopBorder {
        0%, 100% {
            width: 0;
            right: 0;
        }
        100% {
            width: 100%;
            right: 0;
        }
    }
    
    @keyframes loadRightBorder {
        0%, 100% {
            height: 0;
            top: 0;
            right: 0;
        }
        100% {
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    
    @keyframes loadBottomBorder {
        0%, 100% {
            width: 0;
            left: 0;
        }
        100% {
            width: 100%;
            left: 0;
        }
    }
    
    @keyframes loadTopBorder2 {
        0%, 100% {
            width: 0;
            left: 0;
        }
        100% {
            width: 100%;
            left: 0;
        }
    }
    
    @keyframes loadBottomBorder2 {
        0%, 100% {
            width: 0;
            right: 0;
        }
        100% {
            width: 100%;
            right: 0;
        }
    }
}

.listing-form {
    &__form-list {
        flex: 1;
        height: 70rem;
        overflow: hidden;
        transition: all 3s ease;
        display: flex;
        flex-direction: column;
    }
    &__form-container {
        transition: all 3s ease;
        position: relative;
    }
    &__step {
        @extend %margin-bottom-lg;
        position: absolute;
        height: 70rem;
        border: solid 1px;
        width: 100%;
        background-color: var(--clr-white);
        top: 70rem;
        transition: all 3s ease;
    
        &.show {
            top: 0;
        }
        &.prev {
            top: -70rem;
        }
    }
}

