@use "../base/variables" as *;
@use "../utils" as *;

.owner-detail {
    &__container {
        @extend %container-primary;
        
        margin-top: 30rem;
        margin-bottom: 10rem;

        h1 {
            @extend %title-primary;
        }
        section {
            @extend %section;
        }
    }
    
    .owner-properties {
        &__content {
            display: flex;
            gap: var(--spacing-xl);
        }
        &__listing-section {
            display: flex;
            gap: var(--spacing-lg);
            width: fit-content;
        }
        &__item {
            flex: 1 0 29rem;
            position: relative;

            button {
                position: absolute;
                top: 3rem; right: 3rem;
                height: 3rem;
                width: 3rem;
                z-index: 2;
                background: url("/images/icones/favorite-empty.svg") no-repeat center;
            }
        }
        &__avatar {
            @extend %margin-bottom-sm;

            display: block;
            overflow: hidden;
        }
        &__avatar img {
            border-radius: $border-radius;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        &__address span {
            @extend %fw-semibold;
        }

        &__contact-section {
            @extend %padding-lg;

            border: solid 1px $border-color;
            border-radius: $border-radius;
            height: fit-content;

            button {
                @extend %btn-color;
            }
        }
        &__subtitle {
            @extend %fw-semibold;
            @extend %fs-md;
            white-space: nowrap;
        }
        &__textarea {
            width: 100%;
            height: 15rem;
            border: solid 1px $border-color;
            border-radius: $border-radius;
            margin-block: var(--spacing-lg);
            background-color: var(--clr-gray-200);
        }
    }

    .owner-reviews__content {
        display: flex;
        gap: var(--spacing-xl);
        justify-content: space-between;
        overflow: hidden;

        > div {
            flex: 1 0 43rem;
        }
    }
}