@use "../base/variables" as *;
@use "../utils" as *;

.owner-detail {
    > .container {
        @extend %container-primary;
    }

    section:first-of-type {
        @extend %section;

        h2 {
            @extend %title-primary;
        }
        h3 {
            @extend %title-secondary;
        }

        .content {
            border: solid 1px $border-color;
            border-radius: $border-radius;
            height: 30rem;
            position: relative;
            margin-left: 5rem;
            @extend %padding-block-lg;

            display: flex;
        }
        .avatar {
            height: 10rem;
            aspect-ratio: 1/1;
            background-color: var(--clr-gray-200);
            border-radius: 50%;
            position: absolute;
            top: 3rem;
            left: -5rem;
        }
        .content article:first-of-type {
            @extend %padding-left-xs;
            @extend %padding-right-lg;
            flex: auto;
        }
        article:last-of-type {
            border-left: solid 1px $border-color;
            @extend %padding-inline-lg;

            display: flex;
            gap: var(--spacing-lg);


            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    flex: 1;
                }
            }
        }
    }

    section:nth-child(2) {
        @extend %section;
        h2 {
            @extend %title-primary;
        }

        .content {
            display: flex;
            gap: var(--spacing-xl);
        }

        .box1 {
            flex: 1;
            display: flex;
            gap: var(--spacing-lg);
            height: fit-content;

            .item > div {
                aspect-ratio: 1/1;
                border-radius: $border-radius;
                background-color: var(--clr-gray-200);
                @extend %margin-bottom-sm;
            }
        }
        .box2 {
            h3 {
                @extend %title-secondary;
            }
            
            border-radius: $border-radius;
            flex: 0 0 45rem;
            @extend %padding-lg;
            box-shadow: $box-shadow;

            textarea {
                width: 100%;
                border: solid 1px $border-color;
                border-radius: $border-radius;
            }
        }
    }
}