@use "../base/variables" as *;
@use "../utils" as *;

.owner-detail {
    > .container {
        @extend %main-container;
    }

    section:first-of-type {
        @extend %section;

        h2 {
            @extend %title-subheader;
        }
        h3 {
            @extend %title-caption;
        }

        .content {
            border: solid 1px $border-color;
            border-radius: $border-radius;
            height: 30rem;
            position: relative;
            margin-left: 5rem;
            padding-block: $spacing-medium;

            display: flex;
        }
        .avatar {
            height: 10rem;
            aspect-ratio: 1/1;
            background-color: $hovered;
            border-radius: 50%;
            position: absolute;
            top: 3rem;
            left: -5rem;
        }
        .content article:first-of-type {
            padding-inline: 8rem $spacing-medium;
            flex: auto;
        }
        article:last-of-type {
            border-left: solid 1px $border-color;
            padding-inline: $spacing-medium;

            display: flex;
            gap: $spacing-medium;


            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    flex: 1;
                }
            }
        }
    }

    section:nth-child(2) {
        @extend %section;
        h2 {
            @extend %title-subheader;
        }

        .content {
            display: flex;
            gap: $spacing-large;
        }

        .box1 {
            flex: 1;
            display: flex;
            gap: $spacing-medium;
            height: fit-content;

            .item > div {
                aspect-ratio: 1/1;
                border-radius: $border-radius;
                background-color: $hovered;
                margin-bottom: $spacing-small;
            }
        }
        .box2 {
            h3 {
                @extend %title-caption;
            }
            
            border-radius: $border-radius;
            flex: 0 0 45rem;
            padding: $spacing-medium;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            textarea {
                width: 100%;
                border: solid 1px $border-color;
                border-radius: $border-radius;
            }
        }
    }
}