@use "../base/variables" as *;
@use "../utils" as *;

.space-detail {
    > .container {
        @extend %container-primary;
    }

    section:first-of-type {
        @extend %section;

        h1 {
            @extend %title-primary;
        }
        .gallery {
            width: 100%;
            height: 50rem;
            @extend %margin-bottom-xl;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius;
            }
        }

        .zone {
            display: flex;
            gap: var(--spacing-xl);
        } 

        .box1 {
            flex: 1;

            .buttons {
                @extend %padding-bottom-xl;
                @extend %margin-bottom-xl;
                border-bottom: solid 1px $border-color;
                display: flex;
                align-items: center;
                gap: var(--spacing-lg);

                button {
                    @extend %padding-inline-sm;
                    border-radius: $border-radius;
                    height: 5rem;
                    background-color: var(--clr-gray-200);
                    
                    img {
                        height: 2rem;
                    }
                    
                    &:first-of-type {
                        @extend %margin-right-lg;
                    }
                }
            }
            .map p {
                @extend %margin-bottom-sm;
            }
            .map div {
                height: 30rem;
                width: 100%;
                border-radius: $border-radius;
                background-color: var(--clr-gray-200);
                border: solid 1px;
            }
        }

        
        .box2 {
            width: 50rem;
            height: 30rem;
            border: solid 1px;
            background-color: var(--clr-gray-200);
        }
    }

    section:nth-child(2) {
        @extend %section;
        h2 {
            @extend %title-primary;
        }

    }

    section:nth-child(3) {
        @extend %section;
        h2 {
            @extend %title-primary;
        }
    }

    section:nth-child(4) {
        @extend %section;
        h2 {
            @extend %title-primary;
        }
        h3 {
            @extend %title-secondary;
        }

        .content {
            border: solid 1px $border-color;
            border-radius: $border-radius;
            height: 30rem;
            position: relative;
            margin-left: 5rem;
            @extend %padding-block-lg;

            display: flex;
        }
        .avatar {
            height: 10rem;
            aspect-ratio: 1/1;
            background-color:  var(--clr-gray-200);
            border-radius: 50%;
            position: absolute;
            top: 3rem; left: -5rem;
        }
        .content article:first-of-type {
            @extend %padding-left-xs;
            @extend %padding-right-lg;
            flex: auto;
        }
        article:last-of-type {
            border-left: solid 1px $border-color;
            @extend %padding-inline-lg;

            display: flex;
            gap: var(--spacing-lg);


            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    flex: 1;
                }
            }
        }
    }
}