@use "../base/variables" as *;
@use "../utils" as *;

.space-detail {
    &__container {
        @extend %container-primary;
        
        margin-top: 30rem;
        margin-bottom: 10rem;

        h1 {
            @extend %title-primary;
        }

        section {
            @extend %section;
        }
    }

    &__gallery {
        margin-top: 0 !important;
        
        &-header {
            display: flex;
            justify-content: space-between; 
        }
        &-evaluation {
            display: flex;
            gap: var(--spacing-sm);

            .space-detail__gallery-stars {
                display: flex;
                gap: .4rem;

                img {
                    height: 2rem;
                    aspect-ratio: 1/1;
                }
            }

            .space-detail__gallery-ref {
                margin-left: 4.5rem;
            }
        }

        &-images {
            position: relative;
            width: 100%;
            height: 60rem;
            display: flex;
            gap: var(--spacing-lg);
            overflow: hidden;

            .space-detail__gallery-image-item {
                height: 100%;
                width: 100%;
                flex: 1;
                // display: grid;
            }
            .space-detail__gallery-image-item:last-of-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-lg);

                > div {
                    height: 50%;
                    border-radius: $border-radius;
                    overflow: hidden;
                    display: flex;
                    gap: var(--spacing-lg);
                }
                p {
                    flex: auto;
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: $border-radius;
                flex: 1;
            }
            &-btn {
                @extend %fw-semibold;

                position: absolute;
                bottom: 12.5rem; right: 10rem;
                text-decoration: underline;
                font-size: 2.5rem;
            }
        }

        &-footer {
            display: flex;
            gap: var(--spacing-xl);
            margin-top: 3rem;


            > div {
                // border: solid 1px black;
                // flex: auto
            }
        }
        &__map-content {
            flex: auto;
        }
        &__actions {
            @extend %padding-bottom-lg;
            @extend %margin-bottom-lg;

            border-bottom: solid 1px $border-color;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                @extend %padding-inline-md;
                @extend %fw-semibold;
                
                height: 5rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: var(--clr-gray-300);
                border-radius: $border-radius;
            }
            button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 5rem;
                aspect-ratio: 1/1;
                background-color: var(--clr-gray-300);
                border-radius: $border-radius;
                margin-left: var(--spacing-lg);
            }
            img {
                height: 2rem;
            }
        }
        &__map {
            div {
                border-radius: $border-radius;
                overflow: hidden;
                box-shadow: $box-shadow;
            }
            p {
                @extend %fs-lg;
                @extend %fw-semibold;
                @extend %margin-bottom-sm;
            }
            span {
                @extend %fs-md;
                @extend %fw-regular;
            }
        }
    }

    &__billing {
        @extend %padding-lg;

        border-radius: $border-radius;
        border: solid 1px $border-color;
        box-shadow: $box-shadow;
        height: fit-content;

        p {
            @extend %fs-xl;
        }
        p:last-of-type span {
            @extend %fw-semibold;
        }

        &-form__container {
            @extend %margin-block-lg;

            display: flex;
            gap: 4px;
            border-radius: $border-radius;
            background-color: var(--clr-gray-300);
            padding: .4rem;
        }
        &-input {
            display: flex;
            flex-direction: column;
            border-radius: $border-radius;
            background-color: var(--clr-white);
            @extend %padding-inline-sm;

            label {
                @extend %fw-semibold;
            }
            input {
                width: 17.5rem;
                outline: none;
                border: none;
            }
        }
        button {
            @extend %fw-medium;
            @extend %fs-lg;
            @extend %margin-top-sm;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 100%;
            border-radius: $border-radius;
            background-color: var(--clr-primary);
            color: var(--clr-white);
        }
    }

    &__info {
        &-equipments {
            display: flex;
            gap: var(--spacing-xl);
            margin-bottom: 10rem;

            > div {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: var(--spacing-sm);
            }
            p { 
                display: flex;
                align-items: center;
                gap: var(--spacing-lg);
            }
            img {
                height: 2rem;
            }

            & + h1{
                margin-bottom: 3rem;
            }
        }
        &-description {
            white-space: pre-line; 
            width: 74rem;
        }
    }

    &__reviews {
        &-stats {
            @extend %padding-lg;
            display: inline-flex;
            border: solid 1px;
            margin-bottom: var(--spacing-xl);
            border-radius: $border-radius;

            @at-root .reviews-stats__rating-section {
                width: 42.2rem;
                display: inline-flex;
                flex-direction: column;
                gap: var(--spacing-sm);

                .reviews-stats__rating-container {
                    display: flex;
                    gap: var(--spacing-sm);
                }

                .reviews-stats__rating-stars {
                    display: flex;
                    gap: .4rem;

                    img {
                        height: 2rem;
                        aspect-ratio: 1/1   ;
                    }
                }

                .reviews-stats__read-button {
                    margin-top: auto;
                    width: fit-content;
                    color: var(--clr-primary);
                }
            }

            @at-root .reviews-stats__progress-section {
                display: inline-flex;
                flex-direction: column;
                gap: var(--spacing-sm);

                .reviews-stats__progress-row {
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-lg);
                    white-space: nowrap;
                }

                .progress-row__star-label {
                    width: 7rem;
                }

                .progress-row__progress-container {
                    width: 20rem;
                    height: 1rem;
                    background-color: var(--clr-gray-300);
                    border-radius: .4rem;
                    overflow: hidden;
                }
                .progress-container__progress-bar {
                    height: 100%;
                    background-color: var(--clr-primary);
                    text-align: center;
                    line-height: 30px;
                    color: white;
                }

                .progress-row__percentage {
                    width: 5rem;
                }
            }
        }
        &-comments {
            display: flex;
            gap: var(--spacing-xl);
            justify-content: space-between;
            overflow: hidden;

            > div {
                flex: 1 0 43rem;
            }
        }
    }
}