@use "../base/variables" as *;
@use "../utils" as *;

.register {
    height: 100vh;
    position: relative;
    display: flex;
    place-content: center;
    
    &__container {
        @extend %container-secondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.register__form {
    @extend %padding-inline-lg;
    @extend %padding-top-lg;
    @extend %padding-bottom-xl;
    border: none;
    border-radius: calc($border-radius * 3);
    box-shadow: $box-shadow;

    .register__heading {
        @extend %title-secondary;
        margin-bottom: 0;
    }

    .register__link {
        color: var(--clr-primary);
    }

    .register__social-login {
        @extend %margin-block-sm;
        
        p {
            @extend %margin-bottom-sm;
        }
        a {                                         // * BUTTONS <=======================================
            display: inline-flex;
            align-items: center;
            gap: var(--spacing-sm);
            border: solid 1px $border-color;
            border-radius: $border-radius;
            width: 45%;
            @extend %padding-inline-sm;
            @extend %padding-block-sm; 
        }
        a:hover {
            background-color: var(--clr-gray-200);
        } 
        img {
            --ratio: 2.5rem;
            width: var(--ratio);
            height: var(--ratio);
        }
    }
    
    .register__divider-text {
        @extend %margin-bottom-md;
        display: flex;
        align-items: center;


        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $border-color;
            @extend %margin-right-sm; 
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $border-color;
            @extend %margin-left-sm;
        }
    }

    input,
    label {
        cursor: pointer;
    }

    input:focus {
        outline-color: var(--clr-primary);
        caret-color: var(--clr-primary);
    }
    
    input[type=text],
    input[type=password],
    input[type=date]  {
        @extend %margin-bottom-sm;
        @extend %padding-inline-xs;
        width: 35rem;
        border: solid 1px $border-color;
        border-radius: $border-radius;
        height: 4rem;
        color: var(--clr-gray-1000);

        &::placeholder {
            color: var(--clr-gray-1000);
        }
    }

    input[type=checkbox] {
        accent-color: var(--clr-primary);
    } 

    &-agreement {
        @extend %margin-bottom-lg;
        display: flex;
        gap: var(--spacing-sm);
    }

    &-submit {                                          // * BUTTONS <=======================================
        background-color: var(--clr-primary);
        color: var(--clr-white);
        display: flex;
        justify-content: center;
        border-radius: $border-radius;
        height: 4rem;
        
        button {
            border-radius: $border-radius;
            width: 100%;
            height: 100%;
        }
    }
}