{% extends 'base.html.twig' %}

{% block title %}Hello ReviewsController!{% endblock %}

{% block body %}
{% if form is defined %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ 'Save'|trans }}</button>
{{ form_end(form) }}
{% endif %}
{% endblock %}
