<h1 class="space-detail__info-title">Installations du bien </h1>
<div class="space-detail__info-equipments">
    {% if space.amenities.first.amenities is defined %}
    {% for amenity in space.amenities.first.amenities %}
        <p>
            <img src="{{ asset('images/icones/svg/' ~ amenity.id ~ '.svg') }}" alt="">{{ amenity }}
        </p>
    {% endfor %}
    {% endif %}
</div>

<h1 class="space-detail__info-title">Description du bien</h1>
<p class="space-detail__info-description">
    {{ space.content.getDescriptionBasedOnLanguage(space.ownedByUser.language) }} 
</p>