{% extends 'template-main.html.twig' %}

{% block title %}Hello PropertyDetailsController!{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/masthead.js') }}" defer></script>
<script src="{{ asset('js/property_detail.js') }}" defer></script>
{% endblock %}

{% set galleries = [] %}
{% for image in space.image %}
    {% set galleries = galleries|merge([image.imagePath]) %}
{% endfor %}
{% set category = space.type|capitalize ? false %}
{% set adresse = space.adresse ? space.adresse.city|capitalize : false %}
{% set rating = space.calculateAverageRating %} 

{% block main %}
<section class="space-detail">
    <div class="space-detail__container">
        
        <section class="space-detail__gallery">
            {% include "property_details/_gallery.html.twig" 
            with {
                'space': space,
                'images': galleries, 
                'category': category,
                'adresse': adresse,
                'rating': rating,
                'imageCount': imageCount,
                'form': form,
            } only %}
        </section>
        
        <section class="space-detail__info">
            {% include "property_details/_info.html.twig" with {'space': space} only %}
        </section>

        <section class="space-detail__reviews">
            {% include "property_details/_review.html.twig" with {'space': space, 'reviews': reviews, 'rating': rating,} only %}
        </section>

        <section class="space-detail__host">
            {% include "components/_detail-host-card.html.twig" with {'instance': space.ownedByUser, 'name': 'votre hôte'} %}
        </section>

    </div>
</section>

{% endblock %}

