{% extends 'base.html.twig' %}

{% block title %}Template-main{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/masthead.js') }}" defer></script>
{% endblock %}

{% block body %}
    <main class="main-main">
        <div class="main-main__container">

            {% include "layout/header-main.html.twig" %}

            {% block main %}{% endblock main %}
        </div>
    </main>
{% endblock %}