<div class="card"  id="myCard">

    <div class="card--step active" id="decoStatus">
        <p>{{ index }}</p>
        <span>{{ 'ACTIVE'|trans }}</span>
    </div>
    
    <div class="card--content">
        <h3>{{ title }}</h3>
        <p>
            {{ paragraph }}
        </p>
    </div>

    <div class="card--animation">
        <span class="top"></span>
        <span class="mid"></span>
        <span class="bottom"></span>
    </div>
</div>
