<article class="listing__description-item">

    <div class="listing__description-item--step active" id="decoStatus">
        <p>{{ index + 1 }}</p>
        <span>ACTIVE</span>
    </div>
    
    <div class="listing__description-item--content">
        <h3>{{ title }}</h3>
        <p>
            {{ paragraph }}
        </p>
    </div>

    <div class="listing__description-item--deco" id="decoItems">
        <span></span>
        <span></span>
    </div>

</article>
