<div class="listing-form__description-item">

    <div class="listing-form__status active" id="decoStatus">
        <p class="listing-form__step-number">{{ index + 1 }}</p>
        <span class="listing-form__status-label">ACTIVE</span>
    </div>
    
    <div class="listing-form__details">
        <h3 class="listing-form__details-title">{{ title }}</h3>
        <p class="listing-form__details-text">
            {{ paragraph }}
        </p>
    </div>

    <div class="listing-form__deco" id="decoItems">
        <span></span>
        <span></span>
    </div>

</div>