<footer class="listing-footer">
    <div class="listing-footer__container">
        <button class="listing-footer__next-link" id="myButton">
            {{ 'Next'|trans }}
            <img src="{{ asset('images/icones/arrow.svg') }}" alt="Icone next">
        </button>
    </div>
</footer>