<section class="listing-form__step">

    <h2 class="listing-form__title">Étape 3 - Description et équipements du bien</h2>

    <button class="listing-form__btn--prev">Précédant</button>

    <div class="listing-form__item">
        {{ form_label(form.spaceEquipments, 'Indiquez quels sont les équipements que vous disposez'|trans, {'label_attr': {'class': 'listing-form__label'}}) }}
        {{ form_widget(form.spaceEquipments, {'attr': {'class': 'listing-form__checkbox'}}) }}
    </div>

    {% if app.user.status is not defined %}
    <div class="listing-form__item">
        {{ form_label(form.status, 'Veuillez sélectionner votre statut ?'|trans, {'label_attr': {'class': 'listing-form__label'}}) }}
        {{ form_widget(form.status, {'attr': {'class': 'listing-form__radio'}}) }}
    </div>
    {% endif %}

</section>