
<header class="listing-header">
    <div class="listing-header__container">
        <a href="{{ path('public_home') }}" class="listing-header__logo-link">
            <img src="{{ asset('images/logo_boxtogo.svg') }}" alt="BoxToGo logo" class="listing-header__logo-image">
        </a>

        <a href="{{ path('public_home') }}" class="listing-header__back-link">{{ 'Return to the homepage'|trans }}</a>
    </div>
</header>