{% extends 'base.html.twig' %}

{% block title %}Hello ListingController!{% endblock %}

{% set titles = [
    'Faisons connaissance avec votre bien',
    'Où se cache votre bien ?',
    'Mettez votre bien en vedette !',
    'Capturez le moment',
    'Un dernier mot sur vous'
] %}
{% set paragraphs = [
    'Plongeons directement ! Indiquez-nous le type de votre bien, sa taille, son prix et son emplacement dans le bâtiment. C’est rapide et facile !',
    'Ici, nous avons besoin de savoir où se trouve votre bien. Renseignez simplement les détails de l’adresse et vous êtes prêt pour la prochaine étape.',
    'C’est l’heure des projecteurs ! Fournissez un titre captivant, une description et cochez les équipements disponibles. Faites briller votre bien !',
    'Sortez votre appareil photo et commencez à cliquer ! Donnent vie à votre espace. N’oubliez pas, les images parlent plus fort que les mots !',
    'Enfin, dites-nous simplement la langue que vous parlez. Cela facilitera la communication avec les futurs locataires. Et voilà, vous êtes prêt à publier !'
] %}

{% block body %}
<main class="listing-main">

    {% include "listing/_header.html.twig" %}

    <section class="listing-form">

        <div class="listing-form__container">

            <section class="listing-form__description-list">
                
                {% for index in 0..4 %}
                    {% include "listing/_description_card.html.twig" with {'index': index, 'title': titles[index], 'paragraph': paragraphs[index]} only%}
                {% endfor %}

            </section>

            <form action="{{ path('app_listing') }}" enctype="multipart/form-data" method="POST" class="listing-form__form-list">
                <div class="listing-form__form-container">

                    {% set formStep1 = formSteps.children.formStep1 %}
                    {% include "listing/_form_step1.html.twig" with {'form': formStep1} only %}

                    {% set formStep2 = formSteps.children.formStep2 %}
                    {% include "listing/_form_step2.html.twig" with {'form': formStep2} only %}

                    {% set formStep3 = formSteps.children.formStep3 %}
                    {% include "listing/_form_step3.html.twig" with {'form': formStep3} only %}
                    
                    {% set formStep4 = formSteps.children.formStep4 %}
                    {% include "listing/_form_step4.html.twig" with {'form': formStep4} only %}

                    {% set formStep5 = formSteps.children.formStep5 %}
                    {% include "listing/_form_step5.html.twig" with {'form': formStep5} only %}

                    {{ form_row(formSteps._token) }}

                </div>
                
            </form>

        </div>

    </section>    

    {% include "listing/_footer.html.twig" %}
</main>
{% endblock %}
