{% extends 'base.html.twig' %}

{% block title %}Hello ListingController!{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/addNewSpace.js') }}" defer></script>
{% endblock %}

{% set titles = [
    'Faisons connaissance avec votre bien',
    'Où se cache votre bien ?',
    'Mettez votre bien en vedette !',
    'Capturez le moment',
    'Un dernier mot sur vous'
] %}
{% set paragraphs = [
    'Plongeons directement ! Indiquez-nous le type de votre bien, sa taille, son prix et son emplacement dans le bâtiment. C’est rapide et facile !',
    'Ici, nous avons besoin de savoir où se trouve votre bien. Renseignez simplement les détails de l’adresse et vous êtes prêt pour la prochaine étape.',
    'C’est l’heure des projecteurs ! Fournissez un titre captivant, une description et cochez les équipements disponibles. Faites briller votre bien !',
    'Sortez votre appareil photo et commencez à cliquer ! Donnent vie à votre espace. N’oubliez pas, les images parlent plus fort que les mots !',
    'Enfin, dites-nous simplement la langue que vous parlez. Cela facilitera la communication avec les futurs locataires. Et voilà, vous êtes prêt à publier !'
] %}

{% block body %}
<section class="listing listing-main">
    <div class="listing__container">

        <div class="listing__header">
            {% include "listing/_header.html.twig" %}
        </div>

        <div class="listing__content">
            <div class="listing__content-container">

                <section class="listing__descriptions">
                    {% for index in 0..4 %}
                        {% include "listing/_card_description.html.twig" with {'index': index, 'title': titles[index], 'paragraph': paragraphs[index]} only %}
                    {% endfor %}
                </section>

                <section class="listing__templates">
                    {% include "listing/_template.html.twig" with {'forms': forms} only %}
                </section>

            </div>
        </div>

    </div>
</section>
{% endblock %}
