{% extends 'base.html.twig' %}

{% block title %}Hello ListingController!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/addNewSpace.js') }}" defer></script>
    <script src="{{ asset('js/step3.js') }}" defer></script>
{% endblock %}

{% set titles = [
    '',
    "Let's get to know your property"|trans,
    "Where is your property located?"|trans,
    "Feature your property!"|trans,
    "Capture the moment"|trans,
    "A final word about you"|trans
] %}
{% set paragraphs = [
    '',
    "Let's dive right in! Tell us about your property's type, size, price, and location in the building. It's quick and easy!"|trans,
    "Here, we need to know where your property is located. Just fill in the address details and you're ready for the next step."|trans,
    "It's time for the spotlight! Provide a captivating title, a description, and check off the available amenities. Make your property shine!"|trans,
    "Get out your camera and start clicking! Bring your space to life. Remember, pictures speak louder than words!"|trans,
    "Finally, just tell us what language you speak. This will make communication with future tenants easier. And there you go, you're ready to publish!"|trans
] %}

{% block body %}
<section class="listing listing-main">
    <div class="listing__container">

        <div class="listing__header">
            {% include "listing/_header.html.twig" %}
        </div>

        <div class="listing__content">
            <div class="listing__content-container">

                <section class="listing__descriptions">
                    {% for index in 1..5 %}

                        {% include "listing/_card_description.html.twig" with {
                            'index': index, 
                            'title': titles[index], 
                            'paragraph': paragraphs[index]
                        } only %}

                    {% endfor %}
                </section>

                <section class="listing__templates">
                    {% include "listing/_template.html.twig" with {'forms': forms} only %}
                </section>

            </div>
        </div>

    </div>
</section>
{% endblock %}
