{% if app.user %}
<div class="avatar">
    {% if image.image %}
        <img src="{{ asset('assets/uploads/Archives/Photos/' ~ image.id ~ '/Profile/' ~ image.profilePicture) }}" alt="Image de profile">
    {% else %}
        {{ (image.familyName|first)|upper }}{{ (image.givenName|first)|upper }}
    {% endif %}
</div>
{% endif %}