<div class="avatar">
    {% if app.user.image %}
        <img src="{{ asset('assets/uploads/Archives/Photos/' ~ app.user.id ~ '/Profile/' ~ app.user.image.imagePath) }}" alt="Image de profile">
    {% else %}
        {{ (app.user.familyName|first)|upper }}{{ (app.user.givenName|first)|upper }}
    {% endif %}
</div>
