{% if app.user %}
    <div class="avatar">
        {% if instance.picture is not null %}
            <img src="{{ asset('assets/uploads/Archives/Photos/' ~ instance.id ~ '/Profile/' ~ instance.picture) }}" alt="Image de profile">
        {% else %}
            {{ (instance.familyName|first)|upper }}{{ (instance.givenName|first)|upper }}
        {% endif %}
    </div>
{% endif %}