<button class="prev" onclick="goBack()">
    <img class="review-card__star-icon" src="{{ asset('images/icones/global/TablerChevronLeft.svg') }}" alt="">
    <span>{{ 'Previous'|trans }}</span>
</button>