{%- block checkbox_widget -%}
    <div class="listing__template-step__input-checkbox">
        <input type="checkbox" name="" id="">
        <label></label> {# Label vide #}
        <label></label>
    </div>
{%- endblock checkbox_widget -%}
