{% extends 'template-alt.html.twig' %}

{% block title %}Hello FavoritesController!{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/favori.js') }}" defer></script>
{% endblock %}

{% block main %}
<div class="favorite">
    <div class="favorite__container">

        <h1 class="favorite__title">Favoris</h1>
        
        <div class="favorite__content">
            <div class="favorite__content-container">

                {% for instance in favorites %}
                    {% set space = instance.spaces %}

                    {% include "components/_card-space.html.twig" %}
                {% endfor %}
                
            </div>
        </div>

    </div>
</div>
{% endblock %}
