{% extends 'template-alt.html.twig' %}

{% block title %}Hello FavoritesController!{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/favori.js') }}" defer></script>
{# <script src="{{ asset('js/favoritesDelete.js') }}" defer></script> #}
{% endblock %}

{% block main %}
<div class="favorite">
    <div class="favorite__container">

        <h1 class="favorite__title">{{ 'Favorites'|trans }}</h1>
        
        <div class="favorite__content">
            <div class="favorite__content-container">

                {% include "favorites/_card.html.twig" %}
                
            </div>
        </div>

    </div>
</div>
{% endblock %}
