@use "../base/variables" as *;
@use "../utils" as *;

.admin-interface {
    background-color: var(--clr-gray-200);

    &__container {
        @extend %container-primary; 
        
        display: flex;
        flex-direction: column;
        padding-bottom: 10rem;
        min-height: 100vh;
    }

    @at-root .header-ad {
        display: flex;
        gap: var(--spacing-lg);
        padding-block: var(--spacing-lg);
        position: relative;

        .admin-switch {
            position: absolute;
            top: 3rem;left: 11rem;
        }

        &__logo {
            height: 6rem;
        }

        &__info {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: var(--spacing-lg);
        }
        &__lang {
            position: relative;
            
            &-icone {
                cursor: pointer;
            }
            &-list {
                @extend %fw-semibold;

                display: none;
                position: absolute;
                top: 4rem; left: -1.9rem;
                border: solid 1px $border-color;
                border-radius: $border-radius;
                text-transform: uppercase;
                height: 4rem;
                aspect-ratio: 16/9;
                background-color: var(--clr-gray-100);
            }
            .show {
                display: block;
            }
            &-item {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__avatar {
            height: 5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__user-details {
            p:first-of-type {
                @extend %fw-semibold;
            }
            p:last-of-type {
                @extend %fw-medium;

                color: var(--clr-gray-900);
            }
        }
    }

    &__main {
        flex: auto;
        display: flex;
        gap: var(--spacing-xl);
        padding-top: 3rem;
    }

    @at-root .sidebar-ad {
        margin-top: 6.8rem;

        &__heading {
            @extend %fw-semibold;

            font-size: 2.6rem;
            margin-bottom: var(--spacing-lg);
        }

        &__container {
            padding: var(--spacing-lg);
            border: solid 1px var(--clr-gray-400);
            border-radius: $border-radius;
            background-color: var(--clr-gray-100);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
        }

        &__item > a,
        &__logout > a {
            display: flex;
            gap: var(--spacing-sm);
            padding: var(--spacing-xs);
            align-items: center;
            white-space: nowrap;
        }
        .current {
            @extend %fw-semibold;
            background-color: var(--clr-gray-200);
            border-radius: $border-radius;
            transition: all 0.5s ease-in-out;
        }
    }

    &__content {
        flex: auto;
        position: relative;

        .flash-alert {
            border: solid 1px $border-color;
            position: absolute;
            right: 0;
            height: 10rem;
            aspect-ratio: 2.5 * 16/9;
            background-color: var(--clr-gray-100);
            border-radius: $border-radius;
            padding: var(--spacing-sm);
            transform: translateX(-20rem);
            opacity: 0;
            transition: opacity .3s ease-in-out, transform 1s ease-in-out .7s;
        }
        .flash-alert-content {
            height: 100%;
            @extend %fw-semibold; 
        }
    }
}

.modal {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
    z-index: 1000; /* s'assurer qu'il est au-dessus des autres éléments */
    display: flex;
    align-items: center; /* centrage vertical */
    justify-content: center; /* centrage horizontal */
    
    .content {
        @extend %padding-lg;
        background-color: var(--clr-white);
        border-radius: calc(3 * $border-radius);
    }
}