{% extends 'template-alt.html.twig' %}

{% block title %}Hello DashboardUserController!{% endblock %}

{% block main %}
<div class="dashboard-user">
    <div class="dashboard-user__container">

        <h1 class="dashboard-host__title">Réservations</h1>

        <div class="dashboard-user__ticket">
            {% for resa in userBookings|reverse %}
                {% include "dashboard_host/_ticket-card.html.twig" with {'instance': resa} %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
