<img class="header__button-icon" src="{{ asset('images/icones/langue.svg') }}" alt="Language selector">
<ul class="header__button__list">
    <li class="header__button__list-item">
        <a class="header__button__list-link" href="">Français</a>
    </li>
    <li class="header__button__list-item">
        <a class="header__button__list-link" href="">Anglais</a>
    </li>
</ul>


