<div class="nav__brief">
        
</div>

<a href="{{ path('app_listing') }}" class="nav__action">
    {{ 'Post my listing on BoxToGo'|trans }}
</a>

<form action="" class="nav__form">
    {% include "layout/header/_form.html.twig" %}
</form>